# read

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')
test  = pd.read_csv('./test.csv')
sub   = pd.read_csv('./submission.csv')

In [3]:
train.shape, test.shape, sub.shape

((891, 12), (418, 11), (418, 2))

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [7]:
# 1. 타겟
# 2. 결측
# 3. 인코딩
# 4. 학습 & 검증
# 5. 제출

In [8]:
df = pd.concat([train, test], axis=0)
df.shape

(1309, 12)

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# fillna

In [10]:
df.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

## numeric : mean

In [11]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Fare'].fillna(df['Fare'].mean(), inplace=True)

In [12]:
df.isna().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          2
dtype: int64

## object : mode

In [13]:
df['Cabin'].isnull().sum() / len(df)

0.774637127578304

In [14]:
df.drop('Cabin', axis=1, inplace=True)

In [15]:
df['Embarked'].isnull().sum() / len(df)

0.0015278838808250573

In [16]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [17]:
df.isnull().sum()

PassengerId      0
Survived       418
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

# encode

In [18]:
df.select_dtypes('object')

,Name,Sex,Ticket,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,S
4,"Allen, Mr. William Henry",male,373450,S
...,...,...,...,...
413,"Spector, Mr. Woolf",male,A.5. 3236,S
414,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C
415,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,S
416,"Ware, Mr. Frederick",male,359309,S
417,"Peter, Master. Michael J",male,2668,C

In [19]:
df.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [20]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()
df[['Sex', 'Embarked']] = oe.fit_transform(df[['Sex', 'Embarked']])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Sex          1309 non-null   float64
 4   Age          1309 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Fare         1309 non-null   float64
 8   Embarked     1309 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 102.3 KB

In [22]:
df.drop('PassengerId', axis=1, inplace=True)

# fit

In [23]:
train = df[df['Survived'].notnull()]
test  = df[df['Survived'].isnull()].drop('Survived', axis=1)

In [24]:
X = train.drop('Survived', axis=1)
y = train['Survived']

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=0, stratify=y)
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((712, 7), (712,), (179, 7), (179,))

In [26]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=300)

model.fit(X_train, y_train)
pred = model.predict(X_val)

In [27]:
from sklearn.metrics import accuracy_score, f1_score

acc = accuracy_score(y_val, pred)
f1  = f1_score(y_val, pred)

print(acc, f1)

0.7932960893854749 0.7039999999999998

In [28]:
from sklearn.model_selection import GridSearchCV

model = RandomForestClassifier()
params = {
    'n_estimators': [100, 200, 300], 
    'max_depth': [5, 10, 15], 
    'min_samples_leaf': [1, 2, 3], 
}

gscv = GridSearchCV(
    estimator=model, 
    param_grid=params, 
    scoring='f1', 
    refit=True, 
    cv=5, 
)

gscv.fit(X, y)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [5, 10, 15],
                         'min_samples_leaf': [1, 2, 3],
                         'n_estimators': [100, 200, 300]},
             scoring='f1')

In [29]:
gscv.best_score_

0.7678925515098979

In [30]:
gscv.best_params_

{'max_depth': 10, 'min_samples_leaf': 2, 'n_estimators': 300}

In [31]:
pred = gscv.predict(test)
pred.shape

(418,)

# submit

In [32]:
sub

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [33]:
sub['Survived'] = pred

In [41]:
from sklearn.metrics import roc_auc_score

In [50]:
help(f1_score)

Help on function f1_score in module sklearn.metrics._classification:

f1_score(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
    Compute the F1 score, also known as balanced F-score or F-measure

    The F1 score can be interpreted as a weighted average of the precision and
    recall, where an F1 score reaches its best value at 1 and worst score at 0.
    The relative contribution of precision and recall to the F1 score are
    equal. The formula for the F1 score is::

        F1 = 2 * (precision * recall) / (precision + recall)

    In the multi-class and multi-label case, this is the average of
    the F1 score of each class with weighting depending on the ``average``
    parameter.

    Read more in the :ref:`User Guide <precision_recall_f_measure_metrics>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : list, optional
        The set of labels to include when ``average != 'binary'``, and their
        order if ``average is None``. Labels present in the data can be
        excluded, for example to calculate a multiclass average ignoring a
        majority negative class, while labels not present in the data will
        result in 0 components in a macro average. For multilabel targets,
        labels are column indices. By default, all labels in ``y_true`` and
        ``y_pred`` are used in sorted order.

        .. versionchanged:: 0.17
           parameter *labels* improved for multiclass problem.

    pos_label : str or int, 1 by default
        The class to report if ``average='binary'`` and the data is binary.
        If the data are multiclass or multilabel, this will be ignored;
        setting ``labels=[pos_label]`` and ``average != 'binary'`` will report
        scores for that label only.

    average : string, [None, 'binary' (default), 'micro', 'macro', 'samples',                        'weighted']
        This parameter is required for multiclass/multilabel targets.
        If ``None``, the scores for each class are returned. Otherwise, this
        determines the type of averaging performed on the data:

        ``'binary'``:
            Only report results for the class specified by ``pos_label``.
            This is applicable only if targets (``y_{true,pred}``) are binary.
        ``'micro'``:
            Calculate metrics globally by counting the total true positives,
            false negatives and false positives.
        ``'macro'``:
            Calculate metrics for each label, and find their unweighted
            mean.  This does not take label imbalance into account.
        ``'weighted'``:
            Calculate metrics for each label, and find their average weighted
            by support (the number of true instances for each label). This
            alters 'macro' to account for label imbalance; it can result in an
            F-score that is not between precision and recall.
        ``'samples'``:
            Calculate metrics for each instance, and find their average (only
            meaningful for multilabel classification where this differs from
            :func:`accuracy_score`).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division, i.e. when all
        predictions and labels are negative. If set to "warn", this acts as 0,
        but warnings are also raised.

    Returns
    -------
    f1_score : float or array of float, shape = [n_unique_labels]
        F1 score of the positive class in binary classification or weighted
        average of the F1 scores of each class for the multiclass task.

    See also
    --------
    fbeta_score, precision_recall_fscore_support, jaccard_score,
    multilabel_confusion_matrix

    References
    ----------
    .. [1] `Wikipedia entry for the F1-score
           <https://en.wikipedia.org/wiki/F1_score>`_

    Examples
    --------
    >>> from sklearn.metrics import f1_score
    >>> y_true = [0, 1, 2, 0, 1, 2]
    >>> y_pred = [0, 2, 1, 0, 0, 1]
    >>> f1_score(y_true, y_pred, average='macro')
    0.26...
    >>> f1_score(y_true, y_pred, average='micro')
    0.33...
    >>> f1_score(y_true, y_pred, average='weighted')
    0.26...
    >>> f1_score(y_true, y_pred, average=None)
    array([0.8, 0. , 0. ])
    >>> y_true = [0, 0, 0, 0, 0, 0]
    >>> y_pred = [0, 0, 0, 0, 0, 0]
    >>> f1_score(y_true, y_pred, zero_division=1)
    1.0...

    Notes
    -----
    When ``true positive + false positive == 0``, precision is undefined;
    When ``true positive + false negative == 0``, recall is undefined.
    In such cases, by default the metric will be set to 0, as will f-score,
    and ``UndefinedMetricWarning`` will be raised. This behavior can be
    modified with ``zero_division``.

In [49]:
from sklearn import metrics
print(dir(metrics._scorer))

['Counter', 'Iterable', 'SCORERS', '_BaseScorer', '_MultimetricScorer', '_PredictScorer', '_ProbaScorer', '_ThresholdScorer', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_cached_call', '_check_multimetric_scoring', '_deprecate_positional_args', '_passthrough_scorer', 'accuracy_score', 'accuracy_scorer', 'adjusted_mutual_info_score', 'adjusted_mutual_info_scorer', 'adjusted_rand_score', 'adjusted_rand_scorer', 'average', 'average_precision_score', 'average_precision_scorer', 'balanced_accuracy_score', 'balanced_accuracy_scorer', 'brier_score_loss', 'brier_score_loss_scorer', 'check_scoring', 'completeness_score', 'completeness_scorer', 'deprecation_msg', 'explained_variance_score', 'explained_variance_scorer', 'f1_score', 'fowlkes_mallows_score', 'fowlkes_mallows_scorer', 'get_scorer', 'homogeneity_score', 'homogeneity_scorer', 'is_regressor', 'jaccard_score', 'log_loss', 'make_scorer', 'max_error', 'max_error_scorer', 'mean_absolute_error', 'mean_gamma_deviance', 'mean_poisson_deviance', 'mean_squared_error', 'mean_squared_log_error', 'median_absolute_error', 'metric', 'mutual_info_score', 'mutual_info_scorer', 'name', 'neg_brier_score_scorer', 'neg_log_loss_scorer', 'neg_mean_absolute_error_scorer', 'neg_mean_gamma_deviance_scorer', 'neg_mean_poisson_deviance_scorer', 'neg_mean_squared_error_scorer', 'neg_mean_squared_log_error_scorer', 'neg_median_absolute_error_scorer', 'neg_root_mean_squared_error_scorer', 'normalized_mutual_info_score', 'normalized_mutual_info_scorer', 'np', 'partial', 'precision_score', 'qualified_name', 'r2_score', 'r2_scorer', 'recall_score', 'roc_auc_ovo_scorer', 'roc_auc_ovo_weighted_scorer', 'roc_auc_ovr_scorer', 'roc_auc_ovr_weighted_scorer', 'roc_auc_score', 'roc_auc_scorer', 'type_of_target', 'v_measure_score', 'v_measure_scorer', 'warnings']