# 2021-07-26

## 01 변수

변수; 입력되는 데이터는 고정적이지 않음. 데이터가 저장되는 방의 이름.

In [1]:
## 변수에 값 할당
# 변수이름 = 값
temp = 2

In [2]:
temp # 변수명만 입력해도 출력

2

In [3]:
print(temp)

2

변수이름 부여 규칙
변수명 = 값, 함수, 객체 등
1. 영문 대(A~Z)소(a~z)문자, 숫자(0~9), _(언더바) 의 조합
2. 숫자가 맨 처음에 올 수 없음; 1temp 등
3. 변수명에서는 대소문자 구분; Temp != temp
4. ; 은 띄어쓰기, 줄 바꿈을 한 줄로 표현
5. 파이썬의 기본 명령어는 변수명으로 사용을 권장하지 않음

In [4]:
import keyword
print(keyword.kwlist) # 기본 명령어 키워드 리스트

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
a = 7 ; b = 8 # 두 줄로 표현할 내용을 한 줄로 표현 가능
print(a+b)
print(a-b)
print(a*b)
print(a/b)

type(a) # 데이터 유형

print(a//b) # 나누기의 몫
print(a%b) # 나누기의 나머지
print(a%b) == 0 # 중요, 반복문에서 활용
print(a**b) # 제곱

for i in range(0, 100):
    if i%10 == 0: # 10개 단위로 출력하도록
        print('i = ', i)

15
-1
56
0.875
0
7
7
5764801
i =  0
i =  10
i =  20
i =  30
i =  40
i =  50
i =  60
i =  70
i =  80
i =  90

In [6]:
a = 5 ; b = 9

print(a);print(b) # 한 줄 표현

print('a+b = ', a+b)
print('a-b = {}'.format(a-b)) # 중괄호 부분을 포맷문에서 가져옴
print('a*b = {} * {} = {}'.format(a, b, a*b))
print('a*b = {0} * {1} = {2}'.format(a, b, a*b)) # 순서 지정
print('a*b = {1} * {0} = {2}'.format(a, b, a*b)) # 순서 변환 가능
print('a/b = %d / %d = %f'%(a, b, a/b)) # %d 정수(int), %f 실수(소수점)
# shift + tab 으로 함수기능 설명 확인 가능

5
9
a+b =  14
a-b = -4
a*b = 5 * 9 = 45
a*b = 5 * 9 = 45
a*b = 9 * 5 = 45
a/b = 5 / 9 = 0.555556

In [7]:
a = 4
a + int('1') # 정수 변환 함수
print(a + int('1'))

5

In [8]:
a = 4
del a # 설정한 변수 삭제하는 기본 명령어, ()가 있다면 함수

In [9]:
temp = 'python is easy' #  "python is easy" 문자열 인식

In [10]:
temp # 저장된 변수 그대로 출력

'python is easy'

In [11]:
print(temp) # '' 마크 없이 출력

python is easy

In [12]:
len(temp) # 문자열 길이

14

In [13]:
'python ' + 'is easy' # 문자열 결합

'python is easy'

In [14]:
a = 'python '
b = 'is easy'
a + b # 연산하는 데이터 유형이 동일해야 연산

'python is easy'

In [15]:
# index[]; 문자열의 주소. 0부터 시작.
# var[n]
temp[3]

'h'

In [16]:
# 슬라이스; a부터 b까지 복사
# var[a:b+1]
temp[0:5]

'pytho'

In [17]:
st = 0 ; en = 5
temp[st:en] # 인덱스 위치에 변수 설정 가능

'pytho'

In [18]:
temp[:] # 시작부터 끝까지

'python is easy'

In [19]:
temp[3:] # 3부터 끝까지

'hon is easy'

In [20]:
temp[:-3] # 처음부터 -3 까지

'python is e'

In [21]:
temp[::2] # 2 씩(step) 건너뛰어서

'pto ses'

In [22]:
temp[7:9] # is 출력

'is'

In [23]:
type(temp)

str

temp. # +tab 데이터 유형에 따른 가능한 메소드 확인

In [24]:
temp.split() # 변수의 값을 리스트로 나누어 줌
# 기본 옵션은 띄어쓰기 기준으로
# 문자열 변수에만 사용가능

['python', 'is', 'easy']

In [25]:
temp2 = 'python,java,R,SAS'
temp2

'python,java,R,SAS'

In [26]:
temp2.split(',') # , 를 기준으로

['python', 'java', 'R', 'SAS']

In [27]:
aa = "localhost:8888/notebooks/0.jhpark_class/210726_basic_class.ipyn"
aa

'localhost:8888/notebooks/0.jhpark_class/210726_basic_class.ipyn'

In [28]:
aa.split('/')[-1] # / 기준으로 자른 것 중 마지막 값

'210726_basic_class.ipyn'

In [29]:
temp3 = temp2.split(',')
temp3

['python', 'java', 'R', 'SAS']

In [30]:
# join() 문자열 합치기
','.join(temp3) # , 를 기준으로 문자열 합치기

'python,java,R,SAS'

### 02 데이터 구조 ; 리스트, 튜플, 딕셔너리

In [31]:
# 리스트(대괄호)
num = ['one', 'two', 'three', 'four']
print(num)

['one', 'two', 'three', 'four']

In [32]:
type(num)

list

In [33]:
num1 = [1, 2, 3, 4, 5]
num1

[1, 2, 3, 4, 5]

In [34]:
type(num1)

list

In [35]:
type(num1[0])

int

In [36]:
type(num[0])

str

In [37]:
# list() ; 구조를 리스트로 변경
num_t = ('one', 'two', 'three', 'four')
num_t

('one', 'two', 'three', 'four')

In [38]:
list(num_t)

['one', 'two', 'three', 'four']

In [39]:
type(num_t)

tuple

In [40]:
num_t = list(num_t) # 영구적으로 변경
type(num_t)

list

In [41]:
# literable; 리스트, 튜플, 딕셔너리. 반복구조의 형태.
bb = 'abcde'
list(bb)

['a', 'b', 'c', 'd', 'e']

In [42]:
# 리스트의 인덱스, 슬라이스
num[1]

'two'

In [43]:
num[2:4] # 2~3 인덱스까지

['three', 'four']

In [44]:
num[3:8] # 8은 없으니까 끝가지

['four']

In [45]:
# num[7] # 없는 인덱스라 오류

In [46]:
len(num) # 리스트의 항목 개수(인덱스)도 확인 가능

4

In [47]:
num[0] = 'first' ; num

['first', 'two', 'three', 'four']

In [48]:
num.append('five'); num # 값 추가

['first', 'two', 'three', 'four', 'five']

In [49]:
new = [] # 값이 몇개가 들어갈지 모를 때 쌓을 수 있음

In [50]:
type(new) # 공란이어도 리스트의 기능 할당

list

In [51]:
new.append(1)

In [52]:
new.append(2)

In [53]:
new.append(3)

In [54]:
new

[1, 2, 3]

In [55]:
num[1] # 변수명이기도 하면서 객체

'two'

In [56]:
del num[1]; num # 데이터 삭제하면서 인덱스 자리 채움

['first', 'three', 'four', 'five']

In [57]:
num.remove('three') ; num # 지우고 싶은 값 지움

['first', 'four', 'five']

In [58]:
num4 = [6, 7, 8, 9]

In [59]:
num_t

['one', 'two', 'three', 'four']

In [60]:
num_t.extend(num4) # 리스트를 합침. 앞의 리스트에 뒤의 리스트 합침

In [61]:
num_t

['one', 'two', 'three', 'four', 6, 7, 8, 9]

In [62]:
# sort() ; 정렬하여 변경. 자료 유형이 같아야 정렬 가능
# sorted() ; 변수 수정하지 않고 정렬
# list.sort(reverse=True) ; 역순
num = ['one', 'two', 'three', 'four', 'five']

In [63]:
sorted(num)

['five', 'four', 'one', 'three', 'two']

In [64]:
num

['one', 'two', 'three', 'four', 'five']

In [65]:
num1 = num

In [66]:
num1.sort()

In [67]:
num1

['five', 'four', 'one', 'three', 'two']

In [68]:
len(num)

5

In [69]:
len(num[2]) # num의 2번 인덱스의 길이

3

In [70]:
num

['five', 'four', 'one', 'three', 'two']

In [71]:
# dir() ; ?

In [72]:
# 튜플(소괄호); 수정이 불가능해서 count, index만 사용 가능
tup = ('a', 'b', 'c', 'd'); tup

('a', 'b', 'c', 'd')

In [73]:
tup[1]

'b'

In [74]:
# 튜플;
fruit= [['apple',3500],['peer',2500],['cherry',5000]]

In [75]:
fruit

[['apple', 3500], ['peer', 2500], ['cherry', 5000]]

In [76]:
fruit1 = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000}

In [77]:
fruit1

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [78]:
fruit3 = [['apple',3500], ['peer',[2500,3],], ['cherry',5000]]

In [79]:
fruit3

[['apple', 3500], ['peer', [2500, 3]], ['cherry', 5000]]

In [80]:
fruit1.keys() # 키만

dict_keys(['apple', 'peer', 'cherry'])

In [81]:
fruit1['peer'] # 인덱스가 아닌 키로 접근

2500

In [82]:
fruit1.get('peer') # get 메소드 사용 가능

2500

In [83]:
# 딕셔너리 병합 update
# 삭제 del

In [84]:
fruit1.values() # 값만 추출

dict_values([3500, 2500, 5000])

In [85]:
fruit1.keys() # 키만 추출

dict_keys(['apple', 'peer', 'cherry'])

In [86]:
fruit1.items() # 키, 값을 튜플형으로 추출

dict_items([('apple', 3500), ('peer', 2500), ('cherry', 5000)])

In [ ]:
# 책 p.54 리스트 메소드 기억
# w3에서 str, list, dict, tup 메소드 실습하기
# 210726_문자열_리스트_튜플_딕셔너리_methods 업로드

# 2021-07-27