
# selenuim youtube 키워드 검색 리뷰

## type 1

from selenium import webdriver
import time

driver = webdriver.Chrome("c:/jswoo/chromedriver")

#search_word = input("검색어? ")
search_word = "파이썬 데이터분석"

url = "https://www.youtube.com/results?search_query="+ search_word

print(" 1. 유튜브 접속 및 키워드 검색!!!!!!")
driver.get(url)
time.sleep(0.5)

print(" 2. Page Down !")

from selenium.webdriver.common.keys import Keys

body = driver.find_element_by_tag_name("body")
# 마우스의 위치 지정

for page_down in range(1,10):
    print("page_down = ", page_down)
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(1)

print(" 3. 페이지 html BeautifulSoup 적용 !!!!!!")
from bs4 import BeautifulSoup

#html = driver.page_source  # requests.get 

soup = BeautifulSoup(driver.page_source, "html.parser") # soup
print(" BeautifulSoup 완료!! ")

youtube_base_url = "https://www.youtube.com/"

# 개별 영상 타입 추출 

print(" 4. 개별 영상 타입 추출   !!!!!!")

#3 class="title-and-badge style-scope ytd-video-renderer">
lis = soup.find_all("h3",{"class":"title-and-badge style-scope ytd-video-renderer"})

# find_all 반환 데이터 resultset는 리스트
# find는 태그라서 bs4 적용

video_list = []

for video in lis:
    data = video.find("a")["aria-label"]

    len = data.find("게시자")    
    item = data[len:].split()

    channel = item[1]

    title = data[:len-1]
    
    video_url = youtube_base_url+video.find("a")["href"]

    views_count =item[-1]
    upload_date = item[2]+item[3]
   
    video_list.append([channel, title, video_url, views_count, upload_date])
    
# 추출한 list로 dataframe 만들기 
    
import pandas as pd
df_video_item = pd.DataFrame(video_list)

# # 컬럼 만들기
df_video_item.columns = ["채널명","영상제목","영상url","조회수","영상등록날짜"]

print(" 5. 개별영상 타입 완료 = ", df_video_item.shape)

# 재생목록 보기 타입

print(" 6. 재생목록 타입 추출   !!!!!!")

#lis = soup.find_all("h3",{"class":"title-and-badge style-scope ytd-video-renderer"})
lis = soup.find_all("div",{"class":"style-scope ytd-playlist-renderer"})

video_playlist = []

for video in lis:
    channel = video.find("div",{"id":"tooltip"}).text.strip()
    title = video.find("span")["title"]
    play_link = youtube_base_url+video.find("a")["href"]
    
#     print(channel, " * ", title, " * ", play_link )    
    video_playlist.append([channel, title, play_link])
    
# 추출한 list로 dataframe 만들기 
df_video_playlist = pd.DataFrame(video_playlist)

# 컬럼 만들기
df_video_playlist.columns = ["채널명","재생목록제목","재생목록url"]


# 재생목록 영상수 
video_count = soup.find_all("yt-formatted-string",{"class":"style-scope ytd-thumbnail-overlay-side-panel-renderer"})

video_count_list= []
for item in video_count:
    video_count_list.append(item.text)
video_count_list

# 영상수 컬럼 추가 
df_video_playlist["영상수"] = video_count_list

print(" 7. 재생목록  타입 완료 = ", df_video_playlist.shape

## type2

video_list = soup.select('a#video-title')

item = video_list[0]

print("item = ", item.get("aria-label"))
print("link = ", item.get("href"))

## type 3

# 영상 제목 list
title = soup.select(".title-and-badge > #video-title")
title_list = [item["title"] for item in title]

# 채널명 list
channel_name = soup.select("#channel-info #text > a")
channel_list = [item.text for item in channel_name]

# 영상 url list
youtube_url = "https://www.youtube.com/channel"
url_list = [youtube_url + item["href"] for item in channel_name]

import pandas as pd 

pd.DataFrame({"제목":title_list, 
            "채널명": channel_list,
              "영상url": url_list})

# api 출입국 리뷰

In [1]:
# 방법 여러 가지
# 1. url에 날짜, 국가, 월을 변수로 바꿔준 후, 함수를 리스트 반환받아 합쳐서 df 구성
# 2. 함수 내에서 딕셔너리로 받고, df를 각각 구성하여 합치는 방법
# 3. params를 변수로 바꿔 구성

# MariaDB & Python

1. csv 파일 저장
2. db에 저장(프로그램으로 데이터를 넣는 방법)

https://pymysql.readthedocs.io/en/latest/

https://readthedocs.org/projects/trio-mysql/downloads/pdf/stable/

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\674\anaconda3\lib\site-packages (1.0.2)

In [3]:
import pymysql

## MariaDB와 Python 연동

In [4]:
# db와 연결; db관리 페이지 진입
db = pymysql.connect(host='localhost', # 호스트명/IP; 컴퓨터를 구분하는 이름
                     port=3306, # 세션관리자의 포트
                     user='root', # 세션관리자의 '사용자'
                     passwd='pass', 
                     charset='utf8')

### DB 생성

In [5]:
# db 만들기
cursor = db.cursor() # 커서 메서드; sql 실행 명령

# 명령문 입력 .excecute()
cursor.execute('create database if not exists pydb')
cursor.close() # 닫기
db.commit() # db에 적용

### TB 생성

In [6]:
db = pymysql.connect(host='localhost', 
                     port=3306,
                     user='root',
                     passwd='pass', 
                     db = 'pydb', # db 설정
                     charset='utf8')

cursor = db.cursor()

# test01 tb 생성
sql = """
      create table if not exists test01 (
             seq    int(3),
             name   varchar(50),
             
             primary key (seq) );
""" # 여러줄의 명령문으로 인식하게 하기 위해 """"""

print(sql)
cursor.execute(sql)

      create table if not exists test01 (
             seq    int(3),
             name   varchar(50),

             primary key (seq) );

0

### 실습; pymysql 활용해서 tb 만들고 데이터 넣기

1. member tb 생성
   - mem_no   int(3) ; primary key
   - name     varchar(30)
   - age      int(3)
   - height   int(3)

2. 데이터 입력; insert문 sql로 만들어서 한건 씩 실행
   - 1, 홍길동, 35, 170
   - 2, 이순신, 65, 190
   - 3, 유관순, 18, 160
   - 4, 우수한, 55, 155

In [7]:
db = pymysql.connect(host='localhost', 
                     port=3306,
                     user='root',
                     passwd='pass', 
                     db = 'pydb', 
                     charset='utf8')

cursor = db.cursor()

sql = """
      create table if not exists member (
             mem_no  int(3),
             name    varchar(50),
             age     int(3),
             height  int(3),
             
             primary key (mem_no) );
"""
cursor.execute(sql)

try:
    sql = """
          insert into member (mem_no, name, age, height)
                      values (1, '홍길동', 35, 170)
    """
    cursor.execute(sql)

    sql = """
          insert into member (mem_no, name, age, height)
                      values (2, '이순신', 65, 190);
    """
    cursor.execute(sql)

    sql = """
          insert into member (mem_no, name, age, height)
                      values (3, '유관순', 18, 160);
    """
    cursor.execute(sql)

    sql = """
          insert into member (mem_no, name, age, height)
                      values (4, '우수한', 55, 155);
    """
    cursor.execute(sql)

    sql = """
      insert into member (mem_no, name, age, height)
                  values (5, '우수한', 55, 155);
    """
    cursor.execute(sql)

except:
    pass

db.commit()

### 데이터 조회 select

In [8]:
cursor.execute('select * from member')

5

In [9]:
cursor.fetchone() # 가진 데이터에서 하나씩 조회

(1, '홍길동', 35, 170)

In [10]:
res = cursor.fetchall() # fetch 이후의 데이터
res

((2, '이순신', 65, 190),
 (3, '유관순', 18, 160),
 (4, '강감찬', 55, 155),
 (5, '우수한', 30, 155))

In [11]:
for data in res:
    print(data)
    print(data[1])

(2, '이순신', 65, 190)
이순신
(3, '유관순', 18, 160)
유관순
(4, '강감찬', 55, 155)
강감찬
(5, '우수한', 30, 155)
우수한

In [12]:
sql = 'select * from member'
cursor.execute(sql)
cursor.fetchall()[2]

(3, '유관순', 18, 160)

In [13]:
cursor.fetchmany(3)

()

### 실습
1. mem_no가 4인 레코드의 이름을 강감찬으로 변경하세요.

In [14]:
cursor = db.cursor()
sql = """
      update member
      set name = '강감찬'
      where mem_no = 4
      """
cursor.execute(sql)
db.commit()

### 실습
name이 우수한의 나이를 30살로 바꾸기

In [15]:
sql = """
      update member
      set age = 30
      where name = '우수한'
      """
cursor.execute(sql)
db.commit()

## pymysql api DB 구축

### 실습; 출입국관광통계 데이터
1. API를 활용
2. pydb 내 아래 컬럼의 table 구성 ( natkor ) t_natkor natkor_tbl
   - seq
   - ym     연월
   - natkor 국가
   - num    방문객수
   - ed     구분
3. data insert
   - 3개 국가, 2년 총 72개 데이터
   - api 작업 후 df 구성한 후, df를 직접 읽어 처리
4. sql 사례; insert into visit values (1, 202001, '중국', 1000, '방한외래~')

In [16]:
import requests
import xmltodict
import json
import pandas as pd

In [17]:
def tour_func(countries, years, months):
    my_key = 'uERvRwcxuakpKoIT7D%2FVwKIosqibQV%2BLsNcj6uKMdKBPiiy9tpNKFKg8P%2Bs0DqEuiz%2BrFgivpo4icWJzh27h5A%3D%3D'
    end_point = 'http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList?serviceKey='
    params = '&YM=' + years + months + '&NAT_CD=' + countries + '&ED_CD=E'
    data_format = '&type=xml'

    url = end_point + my_key + params + data_format
    req = requests.get(url)
    orderdict = xmltodict.parse(req.text)

    tour_d = json.loads(json.dumps(orderdict))['response']['body']['items']['item']
    return tour_d

years = ['2019', '2020']
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
countries = ['112', '130', '275']
tour_total = []

for i in countries:
    for j in years:
        for k in months:
            tour_d = tour_func(i, j, k)
            tour_total.append(tour_d)

tour_df = pd.DataFrame(tour_total)
tour_df = tour_df[['ym', 'natKorNm', 'num', 'ed']]

In [18]:
srs_l = [['0', '201901', '중국', '392814', '방한외래관광객'], ['1', '201902', '중국', '453379', '방한외래관광객'], ['2', '201903', '중국', '487623', '방한외래관광객'], ['3', '201904', '중국', '493250', '방한외래관광객'], ['4', '201905', '중국', '500413', '방한외래관광객'], ['5', '201906', '중국', '475007', '방한외래관광객'], ['6', '201907', '중국', '519132', '방한외래관광객'], ['7', '201908', '중국', '578112', '방한외래관광객'], ['8', '201909', '중국', '541350', '방한외래관광객'], ['9', '201910', '중국', '567695', '방한외래관광객'], ['10', '201911', '중국', '505369', '방한외래관광객'], ['11', '201912', '중국', '508877', '방한외래관광객'], ['12', '202001', '중국', '481681', '방한외래관광객'], ['13', '202002', '중국', '104086', '방한외래관광객'], ['14', '202003', '중국', '16595', '방한외래관광객'], ['15', '202004', '중국', '3935', '방한외래관광객'], ['16', '202005', '중국', '5124', '방한외래관광객'], ['17', '202006', '중국', '5051', '방한외래관광객'], ['18', '202007', '중국', '9738', '방한외래관광객'], ['19', '202008', '중국', '16275', '방한외래관광객'], ['20', '202009', '중국', '15307', '방한외래관광객'], ['21', '202010', '중국', '11477', '방한외래관광객'], ['22', '202011', '중국', '9174', '방한외래관광객'], ['23', '202012', '중국', '7987', '방한외래관광객'], ['24', '201901', '일본', '206526', '방한외래관광객'], ['25', '201902', '일본', '213200', '방한외래관광객'], ['26', '201903', '일본', '375119', '방한외래관광객'], ['27', '201904', '일본', '290092', '방한외래관광객'], ['28', '201905', '일본', '286273', '방한외래관광객'], ['29', '201906', '일본', '282476', '방한외래관광객'], ['30', '201907', '일본', '274830', '방한외래관광객'], ['31', '201908', '일본', '329652', '방한외래관광객'], ['32', '201909', '일본', '251119', '방한외래관광객'], ['33', '201910', '일본', '248541', '방한외래관광객'], ['34', '201911', '일본', '258522', '방한외래관광객'], ['35', '201912', '일본', '255356', '방한외래관광객'], ['36', '202001', '일본', '203969', '방한외래관광객'], ['37', '202002', '일본', '211199', '방한외래관광객'], ['38', '202003', '일본', '8347', '방한외래관광객'], ['39', '202004', '일본', '360', '방한외래관광객'], ['40', '202005', '일본', '413', '방한외래관광객'], ['41', '202006', '일본', '498', '방한외래관광객'], ['42', '202007', '일본', '755', '방한외래관광객'], ['43', '202008', '일본', '1275', '방한외래관광객'], ['44', '202009', '일본', '794', '방한외래관광객'], ['45', '202010', '일본', '927', '방한외래관광객'], ['46', '202011', '일본', '1254', '방한외래관광객'], ['47', '202012', '일본', '951', '방한외래관광객'], ['48', '201901', '미국', '62737', '방한외래관광객'], ['49', '201902', '미국', '57732', '방한외래관광객'], ['50', '201903', '미국', '84275', '방한외래관광객'], ['51', '201904', '미국', '102524', '방한외래관광객'], ['52', '201905', '미국', '95815', '방한외래관광객'], ['53', '201906', '미국', '105398', '방한외래관광객'], ['54', '201907', '미국', '97428', '방한외래관광객'], ['55', '201908', '미국', '86586', '방한외래관광객'], ['56', '201909', '미국', '90819', '방한외래관광객'], ['57', '201910', '미국', '101099', '방한외래관광객'], ['58', '201911', '미국', '82238', '방한외래관광객'], ['59', '201912', '미국', '77387', '방한외래관광객'], ['60', '202001', '미국', '67255', '방한외래관광객'], ['61', '202002', '미국', '42439', '방한외래관광객'], ['62', '202003', '미국', '10570', '방한외래관광객'], ['63', '202004', '미국', '6417', '방한외래관광객'], ['64', '202005', '미국', '8735', '방한외래관광객'], ['65', '202006', '미국', '9717', '방한외래관광객'], ['66', '202007', '미국', '11922', '방한외래관광객'], ['67', '202008', '미국', '13368', '방한외래관광객'], ['68', '202009', '미국', '12426', '방한외래관광객'], ['69', '202010', '미국', '12366', '방한외래관광객'], ['70', '202011', '미국', '13100', '방한외래관광객'], ['71', '202012', '미국', '12102', '방한외래관광객']]

tour_df = pd.DataFrame(srs_l, columns=[['seq', 'ym', 'nat', 'num', 'ed']])
tour_df = tour_df.iloc[:, 1:]
tour_df.head()

       ym nat     num       ed
0  201901  중국  392814  방한외래관광객
1  201902  중국  453379  방한외래관광객
2  201903  중국  487623  방한외래관광객
3  201904  중국  493250  방한외래관광객
4  201905  중국  500413  방한외래관광객

In [19]:
import pymysql

db = pymysql.connect(host='localhost', 
                     port=3306,
                     user='root',
                     passwd='pass', 
                     db = 'pydb', 
                     charset='utf8')

In [20]:
sql_tb = """
         create table if not exists natkor (
             seq    int(3),
             ym     varchar(20),
             natkor varchar(20),
             num    int(10),
             ed     varchar(20),
             
             primary key (seq) );
             """
cursor.execute(sql_tb)

0

In [21]:
def insert_natkor(i):
    cursor = db.cursor()
    tour_sql = tour_df.iloc[i, :]
    tour_nat = tour_sql[1].replace(' ', '')
    values = '({}, "{}", "{}", {}, "{}")'.format(i, tour_sql[0], tour_nat, tour_sql[2], tour_sql[3])
    sql = """
          insert into natkor
          values """ + values + ';'
    return sql

In [22]:
insert_natkor(0)

'\n          insert into natkor\n          values (0, "201901", "중국", 392814, "방한외래관광객");'

In [23]:
for i in range(len(tour_df)):
    cursor = db.cursor()
    sql = insert_natkor(i)
    try:
        cursor.execute(sql)
        db.commit()
        if i % 10 == 0:
            print('data inserting = ', i)
    except:
        if i == len(tour_df) - 1:
            print('already inserted')
print('** data insert complete **')

already inserted
** data insert complete **

## DataFrame to SQL

In [24]:
import pymysql
from sqlalchemy import create_engine

# MariaDB Connector using pymysql 
pymysql.install_as_MySQLdb()

import MySQLdb

engine = create_engine("mysql://root:pass@127.0.0.1:3306/pydb",encoding="utf-8")
conn = engine.connect()

In [25]:
conn

In [26]:
df.to_sql(name='natkor',
          con=engine,
          if_exists='append',
          index=False)

# 형식을 완전히 통일해줘야만 가능

NameError: name 'df' is not defined

In [ ]:
sql = 'select * from natkor'

df = pd.read_sql(sql, db)
df