# Strings

In [1]:
#출력

print('hello')

hello

In [2]:
#Assign String to a Variable 

a='hello'
print(a)

hello

In [5]:
#문자열 만드는 방법  

 # 1)큰따옴표(")로 양쪽 둘러싸기
 # 2)작은따옴표(')로 양쪽 둘러싸기
 # 3)큰따옴표 3개를 연속(""")으로 써서 양쪽 둘러싸기
 # 4)작은따옴표 3개를 연속(''')으로 써서 양쪽 둘러싸기

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [6]:
#
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [7]:
#Multiline Strings

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
 #(three single quotes)
    
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [9]:
#Strings are Arrays

a = "Hello, World!"
print(a[1])

e

In [10]:
#Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [11]:
#String Length : len()

a = "Hello, World!"
print(len(a))

13

In [12]:
#Check String

txt = "The best things in life are free!"
print("free" in txt)

True

In [15]:
 #(use in if statement)
    
if "free" in txt:
print("Yes, 'free' is present.")

IndentationError: expected an indented block (<ipython-input-15-1e07d658e0b1>, line 3)

In [16]:
#Check if NOT

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [17]:
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# List

In [18]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [19]:
#List Length  리스트 길이 구하기

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [25]:
#List Items - Data Types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)
type(list1)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

list

In [26]:
#Type() - <class 'list'>

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [24]:
#The list() Constructor

thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [14]:
#pop -> 특정 값을 삭제

fruits = ['apple', 'banana', 'cherry']
x = fruits.pop(1)
print(x)

banana

In [19]:
#reverse -> 순서를 거꾸로

a = ['a', 'c', 'b']
a.reverse()
a
['b', 'c', 'a']

['b', 'c', 'a']

# Dict

In [4]:
#clear -> 딕셔너리에 있는 모든 값을 삭제

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()
print(car)

{}

In [5]:
#copy -> 특정 딕셔너리를 복사

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [6]:
#fromkeys

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [7]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [9]:
#pop -> 딕셔너리의 특정 키 값을 삭제

car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [10]:
#popitem  -> 딕셔너리의 마지막 페어를 삭제

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [11]:
#setdefault -> 딕셔너리 기본값 지정

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")
print(x)

Mustang

# Tuple

In [27]:
#Create a Tuple 튜플 만들기

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [28]:
#tuple 출력 -> 중복값도 그대로 출력

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [1]:
#Count 튜플  ->'5'의 갯수를 count
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)
print(x)

2

In [3]:
#index  -> '8'의 index 값 출력

x = thistuple.index(8)
print(x)

3