# 제어문

### if

In [1]:
x = 75
if x >= 90:
    print("Pass")
else:
    print("Fail")

Fail

In [ ]:
score = int(input(" 점수는?"))
if score >=90:
    if score ==100:
        degree = "perfect"
    else:
        degree = "fantastic"

print(score, "는", degree, "등급이세요")

## for문

In [8]:
for a in range(0, 7, 2):
    print(a)

0
2
4
6

In [ ]:
range(0, 10, 1)

In [ ]:
print(list(range(0, 10, 1)))
print(list(range(10)))

In [11]:
tony = ['j','i','n','w','o','o','s','u','n']
tony

['j', 'i', 'n', 'w', 'o', 'o', 's', 'u', 'n']

In [16]:
for i in tony:
    print(i)

j
i
n
w
o
o
s
u
n

In [17]:
print(range(1,5,2))

range(1, 5, 2)

In [18]:
range(1,5,2)

range(1, 5, 2)

In [19]:
list(range(1,5,2))

[1, 3]

In [27]:
for i in range(1,17,4):
    print(i)

1
5
9
13

In [28]:
print(list(range(0, 20, 3)))
print(list(range(-7, 2, 2)))
print(list(range(3, -16, -3)))
print(list(range(0, -8, 1)))

[0, 3, 6, 9, 12, 15, 18]
[-7, -5, -3, -1, 1]
[3, 0, -3, -6, -9, -12, -15]
[]

In [33]:
x_lst = ['x1', 'x2', 'x3']
y_lst = ['y1', 'y2', 'y3']
z_lst = ['z1', 'z2', 'z3']

print('x : y : z')
for x in x_lst:
    for y in y_lst:
        for z in z_lst:
            print(x, y, z)

x : y : z
x1 y1 z1
x1 y1 z2
x1 y1 z3
x1 y2 z1
x1 y2 z2
x1 y2 z3
x1 y3 z1
x1 y3 z2
x1 y3 z3
x2 y1 z1
x2 y1 z2
x2 y1 z3
x2 y2 z1
x2 y2 z2
x2 y2 z3
x2 y3 z1
x2 y3 z2
x2 y3 z3
x3 y1 z1
x3 y1 z2
x3 y1 z3
x3 y2 z1
x3 y2 z2
x3 y2 z3
x3 y3 z1
x3 y3 z2
x3 y3 z3

In [ ]:
화면 입출력

In [37]:
print('jin', 'woo', 'sun', sep = '--')

jin--woo--sun

In [39]:
print('jin', 'woo','\nsun')

jin woo
sun

In [40]:
print('welc to ', end='') # end='' 줄 바꿈 없이 연결
print('pyth')

welc to pyth

In [8]:
with open('mytxtf.txt', 'w') as f:
    f.write('with문 읽고 쓰기1\n')
    f.write('with문 읽고 쓰기2\n')
    f.write('with문 읽고 쓰기3\n')

In [9]:
with open('mytxtf.txt', 'r') as f:
    fs = f.read()
    print(fs)

with문 읽고 쓰기1
with문 읽고 쓰기2
with문 읽고 쓰기3

In [ ]:
함수

In [16]:
def ton():
    print('my tuhrn')
    print('give anme')

ton()

my tuhrn
give anme

In [37]:
def ws(a, b, c):
    print('----------------------------')
    print('-- 학급 번호 :', a)
    print('-- 학생이름 :', b)
    print('-- 전화번호 :', c)
    
ws('ad', '23', '12345')

----------------------------
-- 학급 번호 : ad
-- 학생이름 : 23
-- 전화번호 : 12345

In [27]:
def tony():
    print('-'*30)
    print('* 학생이름:', si[0])
    print('* 학급번호:', si[1])
    print('* 전화번호:', si[2])
    print('-'*30)

tony = ['우선', '02', '123-3423-2342']
msil(tn)

msil(['밥우', '02', '123-3423-2342'])

------------------------------
* 학생이름: 우선
* 학급번호: 02
* 전화번호: 123-3423-2342
------------------------------
------------------------------
* 학생이름: 밥우
* 학급번호: 02
* 전화번호: 123-3423-2342
------------------------------

In [29]:
def 우선():
    print('진우선은 키ㅜㅡㄹ둠'.format(우선))

우선()

진우선은 키ㅜㅡㄹ둠

In [ ]:
a = 5 # 전역변수

def f1():
    a = 1 # f1 지역변수
    print('[f1] 지역변수 a =', a)

def f2():
    a = 2 # f2 지역변수
    print('[f2] 지역변수 a =', a)

def f3():
    print('[f3] 전역변수 a =', a)

def f4():
    global a # 함수 내 전역변수 변경
    a = 4 # 전역변수 값 변경
    print('[f4] 전역변수 a =', a)

f1()
f2()
print(a) # 전역변수 a = 5 확인

f3()
f4() # 전역변수 변경
f3() # 변경된 전역변수 적용

In [ ]:
print(bool(0))
print(bool(1))
print(bool(-89))

print(bool('a'))
print(bool(' '))
print(bool(''))
print(bool(None))

In [ ]:
myf = []
print(bool(myf))

myf = ['ja']
print(bool(myf))

myn = ()
print(bool(myn))

myn = (1, 2, 3)
print(bool(myn))

mys = {}
print(bool(mys))

mys = {1, 3, 4}
print(bool(mys))

In [ ]:
print(len('ab cd')) # 문자열의 문자 개수

print(len(abc)) # 리스트의 항목 개수

print(len((5, 6, 3)))

print(len({'a':3, 'c':4, 'b':90, 'd':29}))

In [38]:
score = [90,95,100,85]

tot = 0
cnt = 0

for i in score:
    tot += i
    cnt += 1
avg = tot / cnt

print("총점 {}, 평균{}".format(tot,avg))

총점 370, 평균92.5

In [36]:
abcd = [1,2,3,4,5,6,7]

print(len('ab cd')) # 문자열의 문자 개수

print(len(abcd)) # 리스트의 항목 개수

print(len((2, 4, 6, 3)))

print(len({'a':1, 'c':2, 'b':3, 'd':4}))

5
7
4
4