###단일 조건에 따른 분기(if)
if<조건문>:
    <코드블록>

In [2]:
x=95
if x>=90:
    print("pass")

pass

In [5]:
x=75
if x>=90:
    print("pass")
else:
    print("fail")

fail

In [8]:
x=85
if x>=90:
    print("very good")
elif (x>=80) and (x<90):
    print("good")
else:
    print("bad")

good

In [9]:
x=85
if x>=90:
    print("very good")
elif 80<=x<90:
    print("good")
else:
    print("bad")

good

In [11]:
##중첩 조건문
x=100
if x>=90:
    if x==100:
        print("perfect")
    else:
        print("verygood")
elif 80<=x<90:
    print("good")
else:
    print("bad")

perfect

In [12]:
#pass 사용으로 실행 제외시키기
x=75
if x >= 80:
    pass #이 코드가 입력되면 if문이 실행되지 않는다
else:
    pass

In [31]:
#반복문
for a in list(range(1,10)):
    print(a)

1
2
3
4
5
6
7
8
9

In [26]:
#for 문을 활용하면 print를 한번만 사용하고 4명의 출력이 가능하다.
myFriends = ["james", "robert", "lisa", "mary"]
for myFriend in myFriends:
    print(myFriend)

james
robert
lisa
mary

In [30]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
print(range(0,10,1))#range함수를 적을때는 자료형의 이름을 같이 써줘야 한다

range(0, 10)

In [33]:
print(list(range(10))) #0 부터 시작하게 되면 범위를 생각가능하다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
print(list(range(0,20,5)))#20까지 만들고 5칸씩 띄어라
print(list(range(-10,0,2))) #음수도 가능하다
print(list(range(3,-10,-3))) #양수에서 음수로 이동
print(list(range(0,-5,1)))# 뒤로가는값이 정확하지 않으면 자료안들어감.

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [38]:
x_list=["x1","x2"]
y_list=["y1","y2"]

print("xy")
for x in x_list: #for문에서 x리스트 값을 하나씩 불러온다
    for y in y_list: #for문에서 y리스트 값을 하나씩 불러온다
        print(x,y)

xy
x1 y1
x1 y2
x2 y1
x2 y2

In [44]:
names = ["james","robert","lisa","mary"]
scores = [95,96,97,94]
for x in range(len(names)):
    print(names[x],scores[x])

james 95
robert 96
lisa 97
mary 94

In [48]:
#len 함수로 name값의 개수를 알아내고, range로 남아있는 개수의 범위로 0부터 범위까지 숫자를 생성한다
#x에 값을 저장하고 print함수로 x와 y값을 증가시키면서 리스트에서 뽑아낸다.
names = ["james","lisa","thejone","pizza"]
scores= ["9500","10400","9900","14000"]
for x in range(len(names)):
    print(names[x],scores[x])

james 9500
lisa 10400
thejone 9900
pizza 14000

In [49]:
for name, score in zip(names,scores): #zip를 사용하면 2가지 리스트에서 번갈아 가며 꺼내와 출력한다.
    print(name, score)

james 9500
lisa 10400
thejone 9900
pizza 14000

In [51]:
i=0 #초기화
sum=0 #초기화

print("i sum")
while(sum<20): #조건 검사
    i=i+1
    sum = sum + i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [52]:
k=0
while True:
    k=k+1 # k는 1씩 증가
    if(k>3):
        break #c랑 비슷함
    print(k)

1
2
3

In [53]:
for k in range(10):
    if(k>2):
        break
    print(k)

0
1
2

In [55]:
for k in range(5):
    if(k==2):
        continue
    
    print(k)

0
1
3
4

In [58]:
k=0
while True:
    k=k+1
    
    if (k==2):
        print("continue next")
        continue
    if (k>4):
        break
    print(k)

1
continue next
3
4

In [59]:
number = [1,2,3,4,5]
square = []

for i in number:
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25]

In [61]:
number = [1,2,3,4,5]
square = []

for i in number:
    square.append(i**3)
print (square)

[1, 8, 27, 64, 125]

In [66]:
x= [(i**3) for i in number]
print(number)

[1, 2, 3, 4, 5]

In [68]:
numbers = [1,2,3,4,5]
square  = []

for i in numbers:
    if i >=3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [72]:
a = [(i**2) for i in numbers if i>=3]
print (a)

[9, 16, 25]

In [73]:
print("hello python")

hello python

In [74]:
print("best","python","book")

best python book

In [78]:
print("best","python","book",sep="****") #sep=""이용하면 사이에 원하는 값을 추가해서 넣을 수 있다.

best****python****book

In [84]:
print("abcd"+"dfg") #+를 이용해 두개 정보를 이어서 출력할 수 있다.

abcddfg

In [86]:
print("best","python","book"+":","this book")

best python book : this book

In [87]:
name="james"
id_num =789
print("name:",name+",","id number:", id_num) #프린터 함수 안에 인자를 출력할때에는 ""를 사용하지 않는다

name: james, id number: 789

In [88]:
print("james is my friend.\n he is korean")

james is my friend.
 he is korean

In [90]:
print("james is my friend \n\nhe is my bf")

james is my friend

he is my bf

In [91]:
print("welcome to ",end="")
print("python")

welcome to python

In [94]:
name="광재"
print("나의이름은 %s입니다"%name) 
#무조건 스트링을 쓸때는 더블 코테이션 붙여서 사용할것!!!
#c와 비슷하게 %를 사용해서 불러오기 할수 있다.

나의이름은 광재입니다

In [98]:
r=3
pi=3.14159265358979
print("반지름:%d,지름은:%f"%(r,pi))

반지름:3,지름은:3.141593

In [104]:
animal_0 = "cat"
animal_1 = "dog"
animal_2 = "fox"

print("animal: {0}".format(animal_0))
print("animal: {0},{1},{2}".format(animal_0, animal_1, animal_2))

animal: cat
animal: cat,dog,fox

In [105]:
print("animal:{1},{2},{0}".format(animal_1,animal_2,animal_0))

animal:fox,cat,dog

In [106]:
print("animal: {}, {}, {}".format(animal_0, animal_1,animal_2))

animal: cat, dog, fox

In [107]:
name = "tomas"
age = 10
a=0.123456789
fmt_string = "string: {0}. integer number: {1}.floating number: {2}"
print(fmt_string.format(name, age, a ))

string: tomas. integer number: 10.floating number: 0.123456789