1. api로 데이터를 수집해서 
2. DB 구축 (DB에 table를 생성후 데이터를 insert )
   - df 반복문을 통해 insert 
3. df.to_sql()

1. natkor.csv를 읽기

In [7]:
import pandas as pd

df = pd.read_csv("c:/jswoo/natkor.csv", encoding="CP949")
df.head(3)

  natkor  code      ym     num
0     중국   112  202001  481681
1     중국   112  202002  104086
2     중국   112  202003   16595

In [8]:
df = df[["ym","natkor","num","code"]]  # 컬럼 순서를 변경
df = df.rename(columns = {"code":"ed"}) # 컬럼명 변경
df.head(3)

       ym natkor     num   ed
0  202001     중국  481681  112
1  202002     중국  104086  112
2  202003     중국   16595  112

2. df.to_sql() 실행

In [9]:
import pymysql 
from sqlalchemy import create_engine 

pymysql.install_as_MySQLdb() 

import MySQLdb

In [26]:
engine = create_engine("mysql://root:pass@127.0.0.1:3306/pydb", encoding="utf-8")

In [12]:
df.to_sql(name="natkor", con=engine, if_exists = "append", index=False)

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'seq' doesn't have a default value")
[SQL: INSERT INTO natkor (ym, natkor, num, ed) VALUES (%(ym)s, %(natkor)s, %(num)s, %(ed)s)]
[parameters: ({'ym': 202001, 'natkor': '중국', 'num': 481681, 'ed': 112}, {'ym': 202002, 'natkor': '중국', 'num': 104086, 'ed': 112}, {'ym': 202003, 'natkor': '중국', 'num': 16595, 'ed': 112}, {'ym': 202004, 'natkor': '중국', 'num': 3935, 'ed': 112}, {'ym': 202005, 'natkor': '중국', 'num': 5124, 'ed': 112}, {'ym': 202006, 'natkor': '중국', 'num': 5051, 'ed': 112}, {'ym': 202007, 'natkor': '중국', 'num': 9738, 'ed': 112}, {'ym': 202008, 'natkor': '중국', 'num': 16275, 'ed': 112}  ... displaying 10 of 12 total bound parameter sets ...  {'ym': 202011, 'natkor': '중국', 'num': 9174, 'ed': 112}, {'ym': 202012, 'natkor': '중국', 'num': 7987, 'ed': 112})]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [17]:
df.reset_index(inplace=True)

In [18]:
df.head()

   index      ym natkor     num   ed
0      0  202001     중국  481681  112
1      1  202002     중국  104086  112
2      2  202003     중국   16595  112
3      3  202004     중국    3935  112
4      4  202005     중국    5124  112

In [19]:
df.rename(columns={"index":"seq"}, inplace=True)
df.head(3)

   seq      ym natkor     num   ed
0    0  202001     중국  481681  112
1    1  202002     중국  104086  112
2    2  202003     중국   16595  112

In [27]:
df["seq"] = df["seq"] + 220
df.head(3)

   seq      ym natkor     num       ed
0  220  202001     중국  481681  방한외래관광객
1  221  202002     중국  104086  방한외래관광객
2  222  202003     중국   16595  방한외래관광객

In [28]:
df.to_sql(name="natkor", con=engine, if_exists="append", index=False)

3. 데이터 확인

In [23]:
sql = "select * from natkor"

df = pd.read_sql(sql, engine)

In [24]:
df.head()

   seq      ym natkor     num       ed
0    0  202001     중국  481681  방한외래관광객
1    1  202002     중국  104086  방한외래관광객
2    2  202003     중국   16595  방한외래관광객
3    3  202004     중국    3935  방한외래관광객
4    4  202005     중국    5124  방한외래관광객

## ( 실습 ) 
1. natkor 에서 관광객(num)이 10만명 이상 방문한 년월은?

In [31]:
sql = "select * from natkor where num > 100000"

df = pd.read_sql(sql, engine)
df.head()

   seq      ym natkor     num       ed
0    0  202001     중국  481681  방한외래관광객
1    1  202002     중국  104086  방한외래관광객
2   20  202001     중국  481681      112
3   21  202002     중국  104086      112
4  100  202001     중국  481681      112