## ( 실습. 윤년 계산 ) 
1. input = 2020
2. output -> ????년은 윤년입니다 / ????년은 평년입니다
3. 계산방법은
   - 4로 나눠서 떨어지고, 100으로 나눠서 떨어지지 않고, 400으로 나눠서 떨어짐
   - 1988, 2008, 2020 윤년,  1900, 2100 평년,  2000, 2400 윤년

In [5]:
year = 2021

if year%4 == 0:
    if year%100 == 0:
        if year%400==0:
            res = "윤년"
        else:
            res = "평년"
    else:
        res = "윤년"
else:
    res = "평년"
print(res)

평년

In [11]:
year = 2020

if ((year%4 == 0) and (year%100 !=0)) or (year%400==0):
    res = "윤년"
else:
    res = "평년"
print(res)

윤년

## ( 실습.. leap_year() 함수로 만들어서 처리 )

In [17]:
def leap_year(year):
    if ((year%4 == 0) and (year%100 !=0)) or (year%400==0):
        res = "윤년"
    else:
        res = "평년"
    return res

In [18]:
y = leap_year(2010)
print(y)

평년

In [19]:
x = 2010
y = leap_year(x)
print(y)

평년

## ( 실습. 화면에서 년도를 입력받아 처리 )
1. 화면에서 입력 ( input )
2. 문자->숫자 ( int ) 
2. 함수로 처리

In [23]:
year = int(input("연도를 입력하세요? "))
res = leap_year(year)
print("년도 %s는 %s 입니다"%(year, res))

연도를 입력하세요? 2020
년도 2020는 윤년 입니다

### 실습. 반복처리 
1. years = [1980, 2019, 2020, 2021]
2. 1980년은 윤년 입니다

In [26]:
years = [1980, 2019, 2020, 2021]

for year in years:
    res = leap_year(year)
    print(year,"년은", res, "입니다")

1980 년은 윤년 입니다
2019 년은 평년 입니다
2020 년은 윤년 입니다
2021 년은 평년 입니다

In [28]:
result = []
for year in years:
    res = leap_year(year)
    result.append(res) 
    
print(result)

['윤년', '평년', '윤년', '평년']

1. 문제에 알고리즘 만들고
2. 알고리즘을 함수로 만들고
3. 함수를 이용해서 input 데이터 처리 
   - 화면입력
   - list값으로 들어올수 있고

In [32]:
y = list(map(leap_year, years))
y

['윤년', '평년', '윤년', '평년']

### ( 실습. 반복처리 ) 
1. 화면에서 년도를 입력받아 처리 
2. 함수를 활용 
3. while 문 사용
4. 년도가 0이면 종료

In [ ]:
year = int(input("연도를 입력하세요? "))
res = leap_year(year)
print("년도 %s는 %s 입니다"%(year, res))

In [33]:
while True:
    year = int(input("연도를 입력하세요? "))
    res = leap_year(year)
    print("년도 %s는 %s 입니다"%(year, res))

연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 1980
년도 1980는 윤년 입니다

KeyboardInterrupt: Interrupted by user

In [34]:
check = True
while check:
    year = int(input("연도를 입력하세요? "))
    res = leap_year(year)
    print("년도 %s는 %s 입니다"%(year, res))
    check = False

연도를 입력하세요? 2021
년도 2021는 평년 입니다

In [36]:
check = True
while check:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        check = False
    res = leap_year(year)
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ")

연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 2022
년도 2022는 평년 입니다
연도를 입력하세요? 2023
년도 2023는 평년 입니다
연도를 입력하세요? 0
년도 0는 윤년 입니다
종료!!!

In [37]:
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break
    res = leap_year(year)
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ")

연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 1990
년도 1990는 평년 입니다
연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 2022
년도 2022는 평년 입니다
연도를 입력하세요? 0
종료!!!

## (실습.. while 반복문 활용, 처리 데이터 저장하기 ) 
1. 년도와 결과를 보관하고 싶음.
2. [년도, 결과] 데이터 만들기 
    - year ... result..
    - [year, result]
3. 4~5개 정도 입력받아서 결과 처리

In [40]:
y = []
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break
    res = leap_year(year)
    y.append([year, res])
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ")

연도를 입력하세요? 1988
년도 1988는 윤년 입니다
연도를 입력하세요? 2005
년도 2005는 평년 입니다
연도를 입력하세요? 2010
년도 2010는 평년 입니다
연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 0
종료!!!

In [41]:
y

[[1988, '윤년'], [2005, '평년'], [2010, '평년'], [2021, '평년'], [2020, '윤년']]

In [42]:
y_dict = {}
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break
    res = leap_year(year)
    y_dict[year] = res
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ") 
print(y_dict)

연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 0
종료!!!
{2020: '윤년', 2021: '평년'}

In [67]:
y = []
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break
    res = leap_year(year)
    y.append([year, res])
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ")

연도를 입력하세요? 1198
년도 1198는 평년 입니다
연도를 입력하세요? 1988
년도 1988는 윤년 입니다
연도를 입력하세요? 1990
년도 1990는 평년 입니다
연도를 입력하세요? 2000
년도 2000는 윤년 입니다
연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 0
종료!!!

In [68]:
y

[[1198, '평년'],
 [1988, '윤년'],
 [1990, '평년'],
 [2000, '윤년'],
 [2020, '윤년'],
 [2021, '평년']]

###  ( 문제 input --> 해결 algorithm  -->  결과 output)

1. (연도를) (윤년 판별)하는 알고리즘 작성
2. 알고리즘을 함수로 작성 
3. 입력 
    - 화면에서 1개씩 입력 ( input()) 
       ; 수치형 데이터는 int(input())로 변환 
    - 여러개 데이터를 한꺼번에 처리 ( 리스트등 ) -> for 문 
    - 화면에서 여러번 받아서 반복 처리 ( while문 ) 
       ; 특정 조건일때 반복문 종료 ( break ) 
    - 화일에서 읽어서 처리 
4. 출력
    - 화면 출력 ( 0000년은 윤년 입니다 ) 
    - 결과를 데이터로 받아서 저장 ( 리스트, 딕셔너리, DataFrame, csv 등)

In [ ]:
def 함수명(입력데이터):
    알고리즘 적용
    return 결과값 

결과 = 함수명(문제데이터)

## ( 실습. 아래와 같은 DataFrame을 만들기 ) 
1. while문으로 반복 처리
2. 4~5개 년도를 윤년 판정후 데이터로 저장 
3. 저장된 데이터로 DataFram 만들기

In [72]:
y

[[1198, '평년'],
 [1988, '윤년'],
 [1990, '평년'],
 [2000, '윤년'],
 [2020, '윤년'],
 [2021, '평년']]

In [73]:
y_dict

{'year': [1988, 1990, 2000, 2020, 2021],
 'result': ['윤년', '평년', '윤년', '윤년', '평년']}

In [70]:
df01

   year result
0  1198     평년
1  1988     윤년
2  1990     평년
3  2000     윤년
4  2020     윤년
5  2021     평년

In [75]:
y

[[1198, '평년'],
 [1988, '윤년'],
 [1990, '평년'],
 [2000, '윤년'],
 [2020, '윤년'],
 [2021, '평년']]

In [77]:
import pandas as pd
df01 = pd.DataFrame(y, columns = ["year","result"])
df01

   year result
0  1198     평년
1  1988     윤년
2  1990     평년
3  2000     윤년
4  2020     윤년
5  2021     평년

In [78]:
df01 = pd.DataFrame(y)
df01

      0   1
0  1198  평년
1  1988  윤년
2  1990  평년
3  2000  윤년
4  2020  윤년
5  2021  평년

In [79]:
df01.columns = ["year","result"]
df01

   year result
0  1198     평년
1  1988     윤년
2  1990     평년
3  2000     윤년
4  2020     윤년
5  2021     평년

In [81]:
y_dict1 = {}
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break
    res = leap_year(year)
    y_dict1[year] = res
    print("년도 %s는 %s 입니다"%(year, res))
print("종료!!! ") 
print(y_dict1)

연도를 입력하세요? 1998
년도 1998는 평년 입니다
연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 2002
년도 2002는 평년 입니다
연도를 입력하세요? 0
종료!!!
{1998: '평년', 2020: '윤년', 2002: '평년'}

In [82]:
y_dict1

{1998: '평년', 2020: '윤년', 2002: '평년'}

In [83]:
df02 = pd.DataFrame(y_dict1)
df02

ValueError: If using all scalar values, you must pass an index

In [86]:
y_dict1

{1998: '평년', 2020: '윤년', 2002: '평년'}

In [85]:
df02 = pd.DataFrame(y_dict1, index=range(1))
df02

  1998 2020 2002
0   평년   윤년   평년

In [89]:
df02.T

       0
1998  평년
2020  윤년
2002  평년

In [90]:
df02.T.reset_index()

   index   0
0   1998  평년
1   2020  윤년
2   2002  평년

In [91]:
df02a = df02.T.reset_index() 
df02a.columns = ["year","result"]
df02a

   year result
0  1998     평년
1  2020     윤년
2  2002     평년

In [92]:
year_in = []
year_out = []
while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break 
        
    res = leap_year(year)
    
    year_in.append(year)    
    year_out.append(res)
                    
    print("년도 %s는 %s 입니다"%(year, res))
    
print("종료!!! ") 

y_dict2 = {"year":year_in, "result":year_out}
y_dict2

연도를 입력하세요? 1988
년도 1988는 윤년 입니다
연도를 입력하세요? 2020
년도 2020는 윤년 입니다
연도를 입력하세요? 2021
년도 2021는 평년 입니다
연도를 입력하세요? 2002
년도 2002는 평년 입니다
연도를 입력하세요? 0
종료!!!

{'year': [1988, 2020, 2021, 2002], 'result': ['윤년', '윤년', '평년', '평년']}

In [94]:
aa = []
bb = []
y_dict2 = {"year":aa, "result":bb}

while True:
    year = int(input("연도를 입력하세요? "))
    if year == 0:
        break 
        
    res = leap_year(year)
    
    year_in.append(year)    
    year_out.append(res)
                    
    print("년도 %s는 %s 입니다"%(year, res))
    
print("종료!!! ") 

y_dict2a

NameError: name 'aa' is not defined

In [93]:
df03 = pd.DataFrame(y_dict2)
df03

   year result
0  1988     윤년
1  2020     윤년
2  2021     평년
3  2002     평년

In [62]:
df01

   year result
0  2008     윤년
1  2018     평년
2  2020     윤년
3  2021     평년
4  2022     평년

In [63]:
df02a

   year result
0  2018     평년
1  2020     윤년
2  1988     윤년
3  2021     평년

In [64]:
df03

   year result
0  1988     윤년
1  1990     평년
2  2000     윤년
3  2020     윤년
4  2021     평년

In [97]:
df03

   year result
0  1988     윤년
1  2020     윤년
2  2021     평년
3  2002     평년

In [100]:
df01.append(df02a)

   year result
0  1198     평년
1  1988     윤년
2  1990     평년
3  2000     윤년
4  2020     윤년
5  2021     평년
0  1998     평년
1  2020     윤년
2  2002     평년

In [65]:
df_merge = pd.concat([df01, df02a, df03])
df_merge

   year result
0  2008     윤년
1  2018     평년
2  2020     윤년
3  2021     평년
4  2022     평년
0  2018     평년
1  2020     윤년
2  1988     윤년
3  2021     평년
0  1988     윤년
1  1990     평년
2  2000     윤년
3  2020     윤년
4  2021     평년

In [101]:
df_merge = pd.concat([df01, df02a, df03], ignore_index = True)
df_merge

    year result
0   1198     평년
1   1988     윤년
2   1990     평년
3   2000     윤년
4   2020     윤년
5   2021     평년
6   1998     평년
7   2020     윤년
8   2002     평년
9   1988     윤년
10  2020     윤년
11  2021     평년
12  2002     평년

In [107]:
df_merge.to_csv("윤년계산.csv") 
pd.read_csv("윤년계산.csv").head()

   Unnamed: 0  year result
0           0  1198     평년
1           1  1988     윤년
2           2  1990     평년
3           3  2000     윤년
4           4  2020     윤년

In [106]:
pd.read_csv("윤년계산.csv").drop("Unnamed: 0",axis=1)

    year result
0   1198     평년
1   1988     윤년
2   1990     평년
3   2000     윤년
4   2020     윤년
5   2021     평년
6   1998     평년
7   2020     윤년
8   2002     평년
9   1988     윤년
10  2020     윤년
11  2021     평년
12  2002     평년

In [108]:
df_merge.to_csv("윤년계산1.csv", index=False) 
pd.read_csv("윤년계산1.csv").head()

   year result
0  1198     평년
1  1988     윤년
2  1990     평년
3  2000     윤년
4  2020     윤년