In [ ]:
# # 데이터 과학 기반의 파이썬 빅데이터 분석

In [ ]:
# asdfzzz / 1q???

#my_key = "s1JerABCGMtqqLUB0r7byT8n7uzwvD9lPsxSfKp9ID5seIFNMkOQzIsACpahzhcUznSQXlirur4Ivp38W2Zd3Q%3D%3D"  # 2019/10/25

In [1]:
my_key = "0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D" # 2020/08/11

## ( 공공데이터 포털 API 사용 )
1. 공공데이터 포털 가입(data.go.kr)
   - 로그인 
   - 한국문화관광연구원_)출입국관광통계서비스 
   - 활용신청
   - 시스템유형(일반), 활용정보(웹사이트 개발)
   - 상세기능정보(선택)
   - 동의 합니다. - 신청
2. OpenAPI 활용 가이드.hwp
3. 인증키 발급현황
   - 인증키 복사 
2. 개발계정 인반 인증키 - 복사
   - End point
   - 데이터 포맷
   - 참고문서
3. URL 만들기 
   - end_point + operation + key + data_format
   - url 확인 (브라우저)

In [1]:
my_key = "0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D"

In [ ]:
#http://apis.data.go.kr/B553077/api/open/sdsc/smallUpjongList?serviceKey=0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D&indsLclsCd=Q&indsMclsCd=Q01

In [2]:
import urllib.request
import json

def get_visit(url):
    req = urllib.request.Request(url)
    response = urllib.request.urlopen(req)
    res_read = response.read().decode("utf-8)")
    json_load = json.loads(res_read)
    visit_ym  = json_load['response']['body']['items']['item']['ym']    # 년월
    visit_country = json_load['response']['body']['items']['item']['natKorNm'] # 
    visit_count = json_load['response']['body']['items']['item']['num'] # 방문객수
    visit_class = json_load['response']['body']['items']['item']['ed']  # 구분(방한외래관광객)
    
    return [visit_ym, visit_country, visit_count, visit_class ]

In [12]:
country_code = ["112","130","275"]  # 국가코드 중국(112), 일본(130), 미국(275)
visit_year = [2019,2020] # 2019년01월 ~ 2020년 12월 
ed_cd = "E"  # 방한외래관광객(E), 해외출국(D) 

service_url = "http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList"
url_01      = "?_type=json&serviceKey=" + my_key   #인증키

total_visit = []

for country in country_code:  # 3번.. 
    for year in visit_year: # 2번.. 
        for month in range(1,13): # 12번.. 
            url_02 = "&YM=" + str(year)+"%02d"%month
            url_02 += "&NAT_CD=" + country
            url_02 += "&ED_CD=" + ed_cd            
            url = service_url + url_01 + url_02

            result = get_visit(url)  # 1번국가, 1번 년도, 1월..               
            total_visit.append(result)
            
import pandas as pd

df = pd.DataFrame(total_visit, columns = ["년월","국가","방문객수","구분"])
df.shape

(72, 4)

In [4]:
country = "112" ; ed_cd = "E"
year = 2019
month = 1

url_02 = "&YM=" + str(year)+"%02d"%month
url_02 += "&NAT_CD=" + country
url_02 += "&ED_CD=" + ed_cd            
url = service_url + url_01 + url_02
print(url)

http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList?_type=json&serviceKey=0C6iX2Ww%2BnB9GVY6k9Et5H9zqv%2FxjEsldVq1Wa9Co3lvcuaRi%2BI3gcoFoi3AckHg6B8AAf1cH0tKH4MXhYf57A%3D%3D&YM=201901&NAT_CD=112&ED_CD=E

In [5]:
req = urllib.request.Request(url)
response = urllib.request.urlopen(req)
res_read = response.read().decode("utf-8");res_read

'{"response":{"header":{"resultCode":"0000","resultMsg":"OK"},"body":{"items":{"item":{"ed":"방한외래관광객","edCd":"E","natCd":112,"natKorNm":"중  국","num":392814,"rnum":1,"ym":201901}},"numOfRows":10,"pageNo":1,"totalCount":1}}}'

In [7]:
json.loads(res_read)['response']['body']['items']['item']

{'ed': '방한외래관광객',
 'edCd': 'E',
 'natCd': 112,
 'natKorNm': '중  국',
 'num': 392814,
 'rnum': 1,
 'ym': 201901}

In [9]:
json_load = json.loads(res_read)
visit_ym  = json_load['response']['body']['items']['item']['ym']    # 년월
visit_country = json_load['response']['body']['items']['item']['natKorNm'] # 
visit_count = json_load['response']['body']['items']['item']['num'] # 방문객수
visit_class = json_load['response']['body']['items']['item']['ed']

In [14]:
json_load['response']['body']['items']['item']

{'ed': '방한외래관광객',
 'edCd': 'E',
 'natCd': 112,
 'natKorNm': '중  국',
 'num': 392814,
 'rnum': 1,
 'ym': 201901}

In [10]:
[visit_ym, visit_country, visit_count, visit_class ]

[201901, '중  국', 392814, '방한외래관광객']

In [11]:
total_visit

[[201901, '중  국', 392814, '방한외래관광객'],
 [201902, '중  국', 453379, '방한외래관광객'],
 [201903, '중  국', 487623, '방한외래관광객'],
 [201904, '중  국', 493250, '방한외래관광객'],
 [201905, '중  국', 500413, '방한외래관광객'],
 [201906, '중  국', 475007, '방한외래관광객'],
 [201907, '중  국', 519132, '방한외래관광객'],
 [201908, '중  국', 578112, '방한외래관광객'],
 [201909, '중  국', 541350, '방한외래관광객'],
 [201910, '중  국', 567695, '방한외래관광객'],
 [201911, '중  국', 505369, '방한외래관광객'],
 [201912, '중  국', 508877, '방한외래관광객'],
 [202001, '중  국', 481681, '방한외래관광객'],
 [202002, '중  국', 104086, '방한외래관광객'],
 [202003, '중  국', 16595, '방한외래관광객'],
 [202004, '중  국', 3935, '방한외래관광객'],
 [202005, '중  국', 5124, '방한외래관광객'],
 [202006, '중  국', 5051, '방한외래관광객'],
 [202007, '중  국', 9738, '방한외래관광객'],
 [202008, '중  국', 16275, '방한외래관광객'],
 [202009, '중  국', 15307, '방한외래관광객'],
 [202010, '중  국', 11477, '방한외래관광객'],
 [202011, '중  국', 9174, '방한외래관광객'],
 [202012, '중  국', 7987, '방한외래관광객'],
 [201901, '일  본', 206526, '방한외래관광객'],
 [201902, '일  본', 213200, '방한외래관광객'],
 [201903, '일  본', 375119, '방한외래관광객'],
 [201904, '일  본', 290092, '방한외래관광객'],
 [201905, '일  본', 286273, '방한외래관광객'],
 [201906, '일  본', 282476, '방한외래관광객'],
 [201907, '일  본', 274830, '방한외래관광객'],
 [201908, '일  본', 329652, '방한외래관광객'],
 [201909, '일  본', 251119, '방한외래관광객'],
 [201910, '일  본', 248541, '방한외래관광객'],
 [201911, '일  본', 258522, '방한외래관광객'],
 [201912, '일  본', 255356, '방한외래관광객'],
 [202001, '일  본', 203969, '방한외래관광객'],
 [202002, '일  본', 211199, '방한외래관광객'],
 [202003, '일  본', 8347, '방한외래관광객'],
 [202004, '일  본', 360, '방한외래관광객'],
 [202005, '일  본', 413, '방한외래관광객'],
 [202006, '일  본', 498, '방한외래관광객'],
 [202007, '일  본', 755, '방한외래관광객'],
 [202008, '일  본', 1275, '방한외래관광객'],
 [202009, '일  본', 794, '방한외래관광객'],
 [202010, '일  본', 927, '방한외래관광객'],
 [202011, '일  본', 1254, '방한외래관광객'],
 [202012, '일  본', 951, '방한외래관광객'],
 [201901, '미  국', 62737, '방한외래관광객'],
 [201902, '미  국', 57732, '방한외래관광객'],
 [201903, '미  국', 84275, '방한외래관광객'],
 [201904, '미  국', 102524, '방한외래관광객'],
 [201905, '미  국', 95815, '방한외래관광객'],
 [201906, '미  국', 105398, '방한외래관광객'],
 [201907, '미  국', 97428, '방한외래관광객'],
 [201908, '미  국', 86586, '방한외래관광객'],
 [201909, '미  국', 90819, '방한외래관광객'],
 [201910, '미  국', 101099, '방한외래관광객'],
 [201911, '미  국', 82238, '방한외래관광객'],
 [201912, '미  국', 77387, '방한외래관광객'],
 [202001, '미  국', 67255, '방한외래관광객'],
 [202002, '미  국', 42439, '방한외래관광객'],
 [202003, '미  국', 10570, '방한외래관광객'],
 [202004, '미  국', 6417, '방한외래관광객'],
 [202005, '미  국', 8735, '방한외래관광객'],
 [202006, '미  국', 9717, '방한외래관광객'],
 [202007, '미  국', 11922, '방한외래관광객'],
 [202008, '미  국', 13368, '방한외래관광객'],
 [202009, '미  국', 12426, '방한외래관광객'],
 [202010, '미  국', 12366, '방한외래관광객'],
 [202011, '미  국', 13100, '방한외래관광객'],
 [202012, '미  국', 12102, '방한외래관광객']]

In [ ]:
df

## ( 2. 딕셔너리 처리 )

In [13]:
def get_visit_01(url):
    req = urllib.request.Request(url)
    response = urllib.request.urlopen(req)
    res_read = response.read().decode("utf-8)")
    json_load = json.loads(res_read)
    item  = json_load['response']['body']['items']['item']         
    return item

In [18]:
country_code = ["112","130","275"]  # 국가코드 중국(112), 일본(130), 미국(275)
visit_year = [2019,2020] # 2019년01월 ~ 2020년 12월 
ed_cd = "E"  # 방한외래관광객(E), 해외출국(D) 

service_url = "http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList"
url_01      = "?_type=json&serviceKey=" + my_key   #인증키

total_visit = []
init = 0 
for country in country_code:
    for year in visit_year:
        for month in range(1,13):
            url_02 = "&YM=" + str(year)+"%02d"%month
            url_02 += "&NAT_CD=" + country
            url_02 += "&ED_CD=" + ed_cd            
            url = service_url + url_01 + url_02

            result = get_visit_01(url) 
            
            df = pd.DataFrame([result])
            
            if init == 0:
                df_total = df.copy()
                init = 1
            else:
                df_total = pd.concat([df_total, df]) 
                
df_total.shape 

df_total1 = df_total[["ym","natKorNm","num","ed"]]
df_total1.columns = ["년월","국가","방문객수","구분"]
df_total1.head()

       년월    국가    방문객수       구분
0  201901  중  국  392814  방한외래관광객
0  201902  중  국  453379  방한외래관광객
0  201903  중  국  487623  방한외래관광객
0  201904  중  국  493250  방한외래관광객
0  201905  중  국  500413  방한외래관광객

In [17]:
df_total

         ed edCd  natCd natKorNm     num  rnum      ym
0   방한외래관광객    E    112     중  국  392814     1  201901
0   방한외래관광객    E    112     중  국  453379     1  201902
0   방한외래관광객    E    112     중  국  487623     1  201903
0   방한외래관광객    E    112     중  국  493250     1  201904
0   방한외래관광객    E    112     중  국  500413     1  201905
..      ...  ...    ...      ...     ...   ...     ...
0   방한외래관광객    E    275     미  국   13368     1  202008
0   방한외래관광객    E    275     미  국   12426     1  202009
0   방한외래관광객    E    275     미  국   12366     1  202010
0   방한외래관광객    E    275     미  국   13100     1  202011
0   방한외래관광객    E    275     미  국   12102     1  202012

[72 rows x 7 columns]

## ( 3. Parameter  처리 )

In [19]:
import requests
def get_visit_02(url, params):
    req = requests.get(url, params) 
    print("req = ", req.json())
    item  = req.json()['response']['body']['items']['item']    
    return item

In [ ]:
country_code = ["112","130","275"]  # 국가코드 중국(112), 일본(130), 미국(275)
visit_year = [2019,2020] # 2019년01월 ~ 2020년 12월 
ed_cd = "E"  # 방한외래관광객(E), 해외출국(D) 

service_url = "http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList"
url_01      = "?_type=json&serviceKey=" + my_key   #인증키

total_visit = []
init = 0 
for country in country_code:
    for year in visit_year:
        for month in range(1,13):
            
            params = {"YM": str(year)+"%02d"%month,
                      "NAT_CD":country,
                      "ED_CD":ed_cd} 
            
            print("params = ", params)
            
            result = get_visit_02(url, params=params) 
            
            print("result = ", result)

## ( DataFrame Return 사례 )

In [ ]:
import requests 

def get_visit03(url):
    req = requests.get(url) 
    json_loads = json.loads(req.text)
    df = pd.DataFrame(json_loads["response"]["body"]["items"]).T    
    return df

In [20]:
req = requests.get(url) 
json_loads = json.loads(req.text)

In [23]:
json_loads["response"]["body"]["items"]

{'item': {'ed': '방한외래관광객',
  'edCd': 'E',
  'natCd': 275,
  'natKorNm': '미  국',
  'num': 12102,
  'rnum': 1,
  'ym': 202012}}

In [22]:
pd.DataFrame(json_loads["response"]["body"]["items"])

             item
ed        방한외래관광객
edCd            E
natCd         275
natKorNm     미  국
num         12102
rnum            1
ym         202012

In [24]:
pd.DataFrame(json_loads["response"]["body"]["items"]).T

           ed edCd natCd natKorNm    num rnum      ym
item  방한외래관광객    E   275     미  국  12102    1  202012

In [ ]:
country_code = ["112","130","275"]  # 국가코드 중국(112), 일본(130), 미국(275)
visit_year = [2019,2020] # 2019년01월 ~ 2020년 12월 
ed_cd = "E"  # 방한외래관광객(E), 해외출국(D) 

service_url = "http://openapi.tour.go.kr/openapi/service/EdrcntTourismStatsService/getEdrcntTourismStatsList"
url_01      = "?_type=json&serviceKey=" + my_key   #인증키

total_visit = []

init = 0

for country in country_code:
    for year in visit_year:
        for month in range(1,13):
            url_02 = "&YM=" + str(year)+"%02d"%month
            url_02 += "&NAT_CD=" + country
            url_02 += "&ED_CD=" + ed_cd            
            url = service_url + url_01 + url_02

            visit_page = get_visit03(url)            

            if init == 0:
                visit_total  = visit_page.copy()
                init = 1
            else:
                visit_total = pd.concat([visit_total, visit_page])
                
visit_total = visit_total[["ym","natKorNm","num","edCd"]] 
visit_total.columns = ["년월","국가","방문객수","구분"] 

visit_total.reset_index().drop("index", axis=1)