### ( 실습_08. 자연수의 홀수 짝수 구분  )
1. 1에서 20까지 3으로 나누어 떨어지는 요소를 갖는 num 리스트를 만들고
2. num의 숫자의 홀수, 짝수를 판별하시요.
2. 출력 예( 3은 홀수 입니다)

In [ ]:
num = list(range(0,20,3))[1:]

for i in num:
    if (i%2==0):
        print("{}는 짝수 입니다".format(i))
    else:
        print("{}는 홀수 입니다".format(i))

In [ ]:
num = list(range(0,20,3))  
for i in num[1:]:
    if (i%2==0):
        print("{}는 짝수 입니다".format(i))
    else:
        print("{}는 홀수 입니다".format(i))

## ( 실습_10.  for, if, range, type 혼합 )
1. 6개의 원소를 [1, 9, "one", "two", 3, "three"] 갖는 리스트 val을 만들고, 
2. 마지막 원소를 자기 이름(ex."jswoo")으로 바꿉니다. 
3. 그리고 -4번째 인덱스를 갖는 원소와 
4. 리스트의 첫번째 문자열("") 데이터를 출력하시요.

In [ ]:
val = [1,9,"one","two",3,"three"];val

In [ ]:
val[-1] = "jswoo" ; val

In [ ]:
val[-4]

In [ ]:
for i in val:
    if type(i) == str:
        print("-4번째 문자는 {}, 첫번째 문자열은 {}".format(val[-4], i))
        break

In [ ]:
for i in val:
    if type(i) == str:
        find_str = i
        break
        
print("-4번째 문자는 {}, 첫번째 문자열은 {}".format(val[-4],find_str ))

In [ ]:
for i in val:
    if type(i) == str:
        break
        
print("-4번째 문자는 {}, 첫번째 문자열은 {}".format(val[-4], i ))

In [ ]:
for i in range(len(val)):
    if type(val[i]) == str:
        alpha_index = i
        break 
        
print("-4번째 문자는 {}, 첫번째 문자열은 {}".format(val[-4], val[alpha_index]))

In [ ]:
for i in val:
    print(i)

In [ ]:
for i in enumerate(val):
    print(i)

In [ ]:
find_str = []
for i in val:
    if type(i) == str:
        find_str.append(i)
        print("find_str = ", find_str)
find_str[0]

In [ ]:
a = "a"

In [ ]:
type(a) == str

In [ ]:
type(a) is str

In [ ]:
isinstance(a, str)

In [ ]:
issubclass(type(a), str)

## ( 실습_11.  섭씨를 화씨로 변환 )
1. 화면에서 섭씨 온도를 입력받는다. 
2. 섭씨(celcius)온도를 화씨 온도로 변환한다. 
3. 화씨 = ( (9/5) * 섭씨온도) + 32
4. 출력 예) 온도 32.2는 화씨 89.96도 입니다.

In [4]:
user_input = float(input("섭씨 온도는? "))
new = ( (9/5) * user_input) + 32
print("온도 %s는 화씨로 %3.2f"%(user_input, new))

섭씨 온도는? 32.2
온도 32.2는 화씨로 89.96

In [9]:
celcius = float(input("섭씨 온도는? "))
fah = ( (9/5) * celcius) + 32
print("온도 %s는 화씨로 %.2f"%(celcius, fah))

섭씨 온도는? 32.2
온도 32.2는 화씨로 89.96

####  (실습 12) 딕셔너리에서 value가 78인 key를 찾아서 출력 (key = ???? ) 
1. d = {'1':[60,80,30],'2':[78,54,98],'3' : [100,50,70],'4' : [70,60,80]}
2. 78점 점수를 가지고 있는 학생(key) 은 누가?

In [11]:
d

{'1': [60, 80, 30], '2': [78, 54, 98], '3': [100, 50, 70], '4': [70, 60, 80]}

In [13]:
# 1. 데이터 추출 확인 
for i in d.items():
    print(i)

('1', [60, 80, 30])
('2', [78, 54, 98])
('3', [100, 50, 70])
('4', [70, 60, 80])

In [15]:
# 2. 데이터 찾기 
for i in d.items():
    print(i)
    if ((i[1][0] == 78) or (i[1][1]==78) or (i[1][2]==78)):
        print(" key = ", i[0])

('1', [60, 80, 30])
('2', [78, 54, 98])
 key =  2
('3', [100, 50, 70])
('4', [70, 60, 80])

In [16]:
# 3. Iterable 유형일 때 
for i in d.items():
    print(i)
    for j in i[1]:
        print("{}의 {}".format(i,j))

('1', [60, 80, 30])
('1', [60, 80, 30])의 60
('1', [60, 80, 30])의 80
('1', [60, 80, 30])의 30
('2', [78, 54, 98])
('2', [78, 54, 98])의 78
('2', [78, 54, 98])의 54
('2', [78, 54, 98])의 98
('3', [100, 50, 70])
('3', [100, 50, 70])의 100
('3', [100, 50, 70])의 50
('3', [100, 50, 70])의 70
('4', [70, 60, 80])
('4', [70, 60, 80])의 70
('4', [70, 60, 80])의 60
('4', [70, 60, 80])의 80

In [18]:
# 4. Iterable 유형일 때 
for i in d.items():
    print(i)
    for j in i[1]:
        if j == 78:
            print("key = ", i[0])

('1', [60, 80, 30])
('2', [78, 54, 98])
key =  2
('3', [100, 50, 70])
('4', [70, 60, 80])

In [20]:
# 5. 비교값 변수 처리 
score = 80

for i in d.items():
    for j in i[1]:
        if j == score:
            print("key = ", i[0])

key =  1
key =  4

In [24]:
# 5. 비교값 변수 처리 
score = 78

find_key = []
for i in d.items():
    for j in i[1]:
        if j == score:
            print("key = ", i[0]) 
            find_key.append(i[0])
print(find_key)

key =  2
['2']

In [27]:
# 6. 비교연산자 활용 
score = 80

find_key = []
for i in d.items():
    print(i)
    if score in i[1]:
        print("key = ", i[0]) 
        find_key.append(i[0])
print(find_key)

('1', [60, 80, 30])
key =  1
('2', [78, 54, 98])
('3', [100, 50, 70])
('4', [70, 60, 80])
key =  4
['1', '4']