In [5]:
    x=95
    if x >= 90:
        print("Pass")

Pass

In [6]:
x=75
if x>=90:
    print("Pass")
else:
    print("Fall")

Fall

In [7]:
x=85
if x>=90:
    print("Very good")
elif (x>=80) and (x<90):
    print("Good")
else:
    print("Bad")

Good

In [8]:
x=85
if x>=90:
    print("Very Good")
elif 80<=x<90:
    print("Good")
else:
    print("Bad")

Good

In [9]:
x=100
if x>=90:
    if x==100:
        print("Perfect")
    else:
        print("Very Good")
elif (x>=80) and (x<90):
    print("Good")
else:
    print("Bad")

Perfect

In [10]:
x=75
if x>= 80:
    pass
else:
    pass

In [12]:
a=0
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)
a=a+1
print(a)

0
1
2
3
4
5

In [16]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [17]:
myFriends=["James","Robert","Lisa","Mary"]
for myFriends in myFriends:
    print(myFriends)

James
Robert
Lisa
Mary

In [18]:
print(range(0,10,1))

range(0, 10)

In [19]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [21]:
for a in range(0,6,2):
    print(a)

0
2
4

In [22]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [24]:
x_list=['x1','x2']
y_list=['y1','y2']
print("x y")
for x in x_list:
    for y in y_list:
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [27]:
names=["James","Robert","Lisa","Mary"]
scores=[95,96,97,94]

In [28]:
for k in range(len(names)):
    print(names[k],scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [29]:
for name,score in zip(names,scores):
    print(name,score)

James 95
Robert 96
Lisa 97
Mary 94

In [30]:
i=0
sum=0
print("i sum")
while(sum<20):
    i=i+1
    sum=sum+i
    print(i,sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [31]:
k=0
while True:
    k=k+1
    if(k>3):
        break
    print(k)

1
2
3

In [32]:
for k in range(10):
    if(k>2):
        break
    print(k)

0
1
2

In [33]:
for k in range(5):
    if(k==2):
        continue
    print(k)

0
1
3
4

In [34]:
k=0
while True:
    k=k+1
    if(k==2):
        print("continue next")
        continue
    if(k>4):
        break
    print(k)

1
continue next
3
4

In [35]:
numbers=[1,2,3,4,5]
square=[]
for i in numbers:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [36]:
numbers=[1,2,3,4,5]
square=[]
for i in numbers:
    if i>=3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [42]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

In [62]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}
tot_list=[]
for i in class_a.items():
    tot=0
    for score in i[1]:
        tot=tot+score
    tot_list.append([i[0],tot,tot/len(i[1])])
print(tot_list)

[['A1', 318, 79.5], ['A2', 321, 80.25], ['A3', 326, 81.5], ['A4', 337, 84.25]]

In [61]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}

tot_list=[[[i[0],tot,tot/len(i[1])] tot=tot+score for i in class_a.items()] tot=0 for score in i[1]]

SyntaxError: invalid syntax (<ipython-input-61-55bfa0bde0fe>, line 6)

# 06.입력과 출력

In [63]:
print("Hello Python!!")

Hello Python!!

In [64]:
print("Best","python","book")

Best python book

In [65]:
print("Best","pthon","book",sep="-:*:-")

Best-:*:-pthon-:*:-book

In [66]:
print("abcd"+"efg")

abcdefg

In [67]:
print("Best","python","book"+":","This book")

Best python book: This book

In [68]:
x=10
print(x)

10

In [69]:
name="James"
ID_num=789
print("Name:",name+",","ID Number:",ID_num)

Name: James, ID Number: 789

In [70]:
print("James is my friend.\nHe is Korean.")

James is my friend.
He is Korean.

In [71]:
print("James is my friend.\n\nHe is Korean.")

James is my friend.

He is Korean.

In [72]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [73]:
name="광재"
print("%s는 나의 친구입니다."%name)

광재는 나의 친구입니다.

In [74]:
r=3
PI=3.14159265358979
print("반지름: %d, 원주율: %f" %(r,PI))

반지름: 3, 원주율: 3.141593

In [75]:
animal_0="cat"
animal_1="dog"
animal_2="fox"
print("Animal: {0}".format(animal_0))
print("Animal: {0},{1},{2}".format(animal_0,animal_1,animal_2))

Animal: cat
Animal: cat,dog,fox

In [76]:
print("Animal: {1},{2},{0}".format(animal_0,animal_1,animal_2))

Animal: dog,fox,cat

In [77]:
print("Animal: {0},{2}".format(animal_0,animal_1,animal_2))

Animal: cat,fox

In [78]:
print("Animal: {},{},{}".format(animal_0,animal_1,animal_2))

Animal: cat,dog,fox

In [79]:
name="Tomas"
age=10
a=0.1234567890123456789
fmt_string="String:{0}.Integer Number: {1}.Floating Number: {2}"
print(fmt_string.format(name,age,a))

String:Tomas.Integer Number: 10.Floating Number: 0.12345678901234568

In [82]:
a=0.1234567890123456789
print("{0:.2f}, {0:.5f}".format(a))

0.12, 0.12346

In [84]:
yourName=input("당신의 이름은?")
print("당신은 {}이군요".format(yourName))

당신의 이름은?김재욱
당신은 김재욱이군요

In [85]:
num=input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다".format(num))

숫자를 입력하세요: 3
당신이 입력한 숫자는 3입니다

In [86]:
a=input("정사각형 한 변의 길이는?: ")
area=int(a)**2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 5
정사각형의 넓이: 25

In [87]:
b=input("정사각형 한 변의 길이는?: ")
area=float(b)**2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 1.5
정사각형의 넓이: 2.25

In [88]:
c=input("정사각형 한 변의 길이는?: ")
area=float(c)**2
print("정사각형의 넓이: {}".format(area))

정사각형 한 변의 길이는?: 3
정사각형의 넓이: 9.0

In [1]:
f=open("myfile.txt","wt")
f.write("This is my first file.")
f.close()

In [2]:
!type myfile.txt

This is my first file.

In [99]:
f=open("c:/jaewook/myfile.txt","r")
data=f.read()
f.close
print(data)

This is my first file.

In [101]:
f=open('c:/jaewook/two_times_table.txt','w')
for num in range(1,6):
    format_string="2 x {0} = {1}\n".format(num,2*num)
    f.write(format_string)
f.close()

In [102]:
!type two_times_table.txt

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [103]:
f=open("two_times_table.txt")
line1=f.readline()
line2=f.readline()
f.close()
print(line1,end="")
print(line2,end="")

2 x 1 = 2
2 x 2 = 4

In [107]:
f=open("two_times_table.txt")
line=f.readline()
while line:
    print(line,end="")
    line=f.readline()
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [3]:
f=open("two_times_table.txt")
lines=f.readlines()
f.close()
print(lines)

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

In [4]:
f=open("two_times_table.txt")
lines=f.readlines()
f.close()
for line in lines:
    print(line,end="")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [5]:
f=open("two_times_table.txt")
for line in f.readlines():
    print(line,end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [6]:
f=open("two_times_table.txt")
for line in f:
    print(line,end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [7]:
f=open("myTextFile.txt","w")
f.write("File write/read test.")
f.close()

In [9]:
f=open("myTextFile.txt","r")
test=f.read()
f.close()
print(test)

File write/read test.

In [15]:
with open("c:/myPyCode/myTestFile2.txt","w") as f:
    f.write("File read/write test2: line1\n")
    f.write("File read/write test2: line2\n")
    f.write("File read/write test2: line2\n")

In [16]:
with open("c:/myPyCode/myTestFile2.txt") as f:
    file_string=f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line2

In [17]:
with open("c:/myPyCode/myTestFile2.txt","w") as f:
    for num in range(1,6):
        format_string="3 x {0} = {1}\n".format(num,3*num)
        f.write(format_string)

In [18]:
with open("c:/myPyCode/myTestFile2.txt","r") as f:
    for line in f:
        print(line,end="")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

# 07.함수

In [19]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [20]:
my_func()

My first function!
This is a function.

In [21]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [22]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [26]:
def my_student_info(name,school_ID,phoneNumber):
    print("------------------------")
    print("- 학생이름:",name)
    print("- 학급번호:",school_ID)
    print("- 전화번호:",phoneNumber)

In [27]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
------------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [28]:
def my_student_info(name,school_ID,phoneNumber):
    print("*************************")
    print("* 학생이름:",name)
    print("* 학급번호:",school_ID)
    print("* 전화번호:",phoneNumber)

In [32]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

*************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
*************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543

In [30]:
def my_calc(x,y):
    z=x*y
    return z

In [31]:
my_calc(3,4)

12

In [33]:
def  my_student_info_list(student_info):
    print("*****************************")
    print("* 학생이름:",student_info[0])
    print("* 학급번호:",student_info[1])
    print("* 전화번호:",student_info[2])
    print("*****************************")

In [34]:
student1_info=["현아","01","01-235=6789"]
my_student_info_list(student1_info)

*****************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235=6789
*****************************

In [35]:
student_info=["진수","02","01-987-6543"]

In [37]:
my_student_info_list(student_info)

*****************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
*****************************

In [44]:
a=5
def func1():
    a=1
    print("[func1] 지역 변수 a=",a)
def func2():
    a=2
    print("[func2] 지역 변수 a=",a)
def func3():
    print("[func3] 지역 변수 a=",a)
def func4():
    global a
    a=4
    print("[func4] 지역 변수 a=",a)

In [45]:
func1()
func2()
print("전역 변수 a=",a)

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
전역 변수 a= 5

In [46]:
func3()
func4()
func3()

[func3] 지역 변수 a= 5
[func4] 지역 변수 a= 4
[func3] 지역 변수 a= 4

In [47]:
(lambda x : x**2) (3)

9

In [48]:
mySquare = lambda x : x**2
mySquare(2)

4

In [49]:
mySquare(5)

25

In [50]:
a=lambda x,y,z : 2*x + 3*y + z
a(1,2,3)

11

In [51]:
[int(0.123),int(3.5123456),int(-1.312367)]

[0, 3, -1]

In [52]:
[int('1234'),int('5678'),int('-9012')]

[1234, 5678, -9012]

In [53]:
[float(0),float(123),float(-567)]

[0.0, 123.0, -567.0]

In [54]:
[float('10'),float('0.123'),float('-567.89')]

[10.0, 0.123, -567.89]

In [55]:
[str(123),str(459678),str(-987)]

['123', '459678', '-987']

In [56]:
[str(0.123),str(345.678),str(-5.987)]

['0.123', '345.678', '-5.987']

In [57]:
list_data =['abc',1,2,'def']
tuple_data=('abc',1,2,'def')
set_data={'abc',1,2,'def'}

In [58]:
[type(list_data),type(tuple_data),type(set_data)]

[list, tuple, set]

In [59]:
print("리스트로 변환:",list(tuple_data),list(set_data))

리스트로 변환: ['abc', 1, 2, 'def'] [1, 2, 'abc', 'def']

In [60]:
print("튜플로 변환:",tuple(list_data),tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') (1, 2, 'abc', 'def')

In [61]:
print("세트로 변환:",set(list_data),set(tuple_data))

세트로 변환: {1, 2, 'abc', 'def'} {1, 2, 'abc', 'def'}

In [62]:
bool(0)

False

In [63]:
bool(1)

True

In [64]:
bool(' ')

True

In [65]:
bool("a")

True

In [66]:
bool("")

False

In [67]:
a=[]
bool(a)

False

In [68]:
a=['a','b','c','d']
bool(a)

True

In [69]:
m=()
bool(m)

False

In [70]:
b=(1,2,3)
bool(b)

True

In [71]:
c={}
bool(c)

False

In [72]:
set={10,20,30}
bool(set)

True

In [73]:
def print_name(name):
    if bool(name):
        print("입력된 이름:",name)
    else:
        print("입력된 이름이 없습니다.")

In [74]:
print_name("James")

입력된 이름: James

In [75]:
print_name("")

입력된 이름이 없습니다.

In [76]:
my=[10,5,12,0,3.5,99.5,42]
[min(my),max(my)]

[0, 99.5]

In [79]:
mystr='zxyabc'
[min(mystr),max(mystr)]

['a', 'z']

In [80]:
mynum=(10,5,12,0,3.5,99.5,42)
[min(mynum),max(mynum)]

[0, 99.5]

In [82]:
my={"abc","Abc","bcd","efg"}
[min(my),max(my)]

['Abc', 'efg']

In [83]:
[abs(10),abs(-10)]

[10, 10]

In [84]:
sumlist=[1,2,3,4,5,6,7,8,9,10]
sum(sumlist)

55

In [85]:
len("ab cd")

5

In [86]:
len([1,2,3,4,5,6,7,8])

8

In [88]:
scores=[90,80,95,85]
score_sum=0
subject_num=0
for score in scores:
    score_sum=score_sum+score
    subject_num=subject_num+1
average=score_sum/subject_num
print("총점:{0},평균:{1}".format(score_sum,average))

총점:350,평균:87.5

In [91]:
scores=[90,80,95,85]
print("총점:{0},평균:{1}".format(sum(scores),sum(scores)/len(scores)))

총점:350,평균:87.5