# 05장 제어문

## if문

In [1]:
x = 95

if x >= 90:
    print('pass')

pass

In [2]:
x = 75

if x >= 90:
    print('pass')
else:
    print('fail')

fail

In [3]:
x = 85
if x >= 90:
    print('v good')
elif x >= 80:
    print('good')
else:
    print('bad')

good

In [4]:
x = 100

if x > 90:
    if x == 100:
        print('perfect')
    else:
        print('v good')
elif x > 80:
    print('good')
else:
    print('bad')

perfect

In [5]:
x = 75

if x > 80:
    pass
else:
    pass

## for문

In [6]:
for a in [0, 1, 2, 3, 4, 5]:
    print(a)

0
1
2
3
4
5

In [7]:
mf = ['ja', 'rob', 'lis', 'mar']

for i in mf:
    print(i)

ja
rob
lis
mar

In [8]:
print(range(0, 10, 2))

range(0, 10, 2)

In [9]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [10]:
for a in range(0, 6, 1):
    print(a)

0
1
2
3
4
5

In [11]:
for a in range(0, 9, 2):
    print(a)

0
2
4
6
8

In [12]:
print(list(range(0, 16, 1)))
print(list(range(0, 16)))
print(list(range(16)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [13]:
print(list(range(0, 20, 3)))
print(list(range(-7, 2, 2)))
print(list(range(3, -16, -3)))
print(list(range(0, -8, 1)))

[0, 3, 6, 9, 12, 15, 18]
[-7, -5, -3, -1, 1]
[3, 0, -3, -6, -9, -12, -15]
[]

In [14]:
x_lst = ['x1', 'x2']
y_lst = ['y1', 'y2']

print('x y')
for x in x_lst:
    for y in y_lst:
        print(x, y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

In [15]:
name = ['ja', 'rob', 'lis', 'mar']
scores = [95, 96, 97, 94]

for i in range(len(name)):
    print(name[i], scores[i])

ja 95
rob 96
lis 97
mar 94

In [16]:
for i, k in zip(name, scores): # 같은 길이의 데이터를 묶어줌
    print(i, k)

ja 95
rob 96
lis 97
mar 94

## while문

In [17]:
i = 0
sum = 0

print('i sum')
while sum < 20:
    i += 1
    sum += i
    print(i, sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21

## break, continue

In [18]:
k = 0
while True:
    k += 1
    if k > 3:
        break
    print(k)

1
2
3

In [19]:
for k in range(10):
    if k > 2:
        break
    print(k)

0
1
2

In [20]:
for k in range(5):
    if k == 2:
        continue # 2일 경우 명령을 건너뜀
    print(k)

0
1
3
4

In [21]:
k = 0

while True:
    k += 1
    if k == 2:
        print('cont next')
        continue # 2일때 print 후 건너뜀
    if k > 4:
        break # 4 초과시 중지
    print(k)

1
cont next
3
4

## list comprehension

[반복실행문 for 반복변수 in 반복범위]

[반복실행문 for 반복변수 in 반복범위 if 조건문]

In [22]:
num = list(range(6))

sq = []

for i in num:
    sq.append(i**2) # 반환물 리스트화
print(sq)

[0, 1, 4, 9, 16, 25]

In [23]:
sq_c = [i**2 for i in num]
print(sq_c)

[0, 1, 4, 9, 16, 25]

In [24]:
sq_f = []

for i in num:
    if i >= 3:
        sq_f.append(i**2)
print(sq_f)

[9, 16, 25]

In [25]:
sq_fc = [i**2 for i in num if i >= 3]
print(sq_fc)

[9, 16, 25]

# 06장 입력과 출력

## 화면출력

In [26]:
print('be', 'py', 'bo', sep = '-:*:-') # sep= 로 빈칸 변경

be-:*:-py-:*:-bo

In [27]:
print('ja is mf.\nhe is kr.') # \n 줄 바꿈

ja is mf.
he is kr.

In [28]:
print('welc to ')
print('pyth')

print('welc to ', end='') # end='' 줄 바꿈 없이 연결
print('pyth')

welc to
pyth
welc to pyth

In [29]:
r = 3
PI = 3.14159

print('%d, %f'%(r, PI))

3, 3.141590

In [30]:
ani0 = 'cat'
ani1 = 'dog'
ani2 = 'fox'

print('{1}, {2}, {0}'.format(ani0, ani1, ani2))
print('{1}, {0}'.format(ani0, ani1, ani2))
print('{}, {}, {}'.format(ani0, ani1, ani2))

dog, fox, cat
dog, cat
cat, dog, fox

In [31]:
name = 'tom'
age = 10
a = 0.21302318580120423

fmt_string = '{0}, {1}, {2}'
print(fmt_string.format(name, age, a))

tom, 10, 0.21302318580120422

In [32]:
print('{0:.2f}, {0:.7f}'.format(a)) # 특정 소수점 자릿수까지

0.21, 0.2130232

## 파일 읽고 쓰기

In [33]:
# 파일 열기
# var = open('file', 'mode') # 쓰기는 wt
# var.write(str)
# var.close()

f = open('myfile.txt', 'w')
f.write('this is mine.')
f.close()

!type myfile.txt

this is mine.

In [34]:
# 파일 읽기
# var = open('file', 'r')
# data = var.read() # 읽기 명령
# var.close()

f = open('myfile.txt', 'r')
file_text = f.read() # 읽은 후 변수에 저장
f.close()

print(file_text)

this is mine.

## 반복문 이용 파일 읽고 쓰기

In [35]:
f = open('tt_table.txt', 'w')
for i in range(1, 10):
    tt = '2 * {} = {}\n'.format(i, 2*i)
    f.write(tt)
f.close()

In [36]:
# readline() 실행 횟수만큼 한 줄씩 읽음
f = open('tt_table.txt', 'r')

line = f.readline() # 한줄 읽기 변수
while line:
    print(line, end='') # 한줄 출력
    line = f.readline() # 읽기
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [37]:
# readlines() 전체 줄을 읽고, 리스트 반환

f = open('tt_table.txt', 'r')
lines = f.readlines()
f.close()

print(lines) # 줄 바꿈 포함

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n', '2 * 6 = 12\n', '2 * 7 = 14\n', '2 * 8 = 16\n', '2 * 9 = 18\n']

In [38]:
# 줄 바꿈 제거

f = open('tt_table.txt', 'r')
lines = f.readlines()
f.close()
for i in lines:
    print(i, end='') # 줄 바꿈 기호 제거

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [39]:
# 더 간단히; 읽어오기를 변수가 아니라 for문 포함

f = open('tt_table.txt', 'r')
for i in f.readlines():
    print(i, end='')
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [40]:
# 더더 간단히; f.readlines() 대신 f만. var만 쓰는 것을 f.readlines()로 인식
f = open('tt_table.txt', 'r')
for i in f:
    print(i, end='')
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## with문 활용 파일 읽고 쓰기

In [41]:
# with open('file', 'w') as f:
#     f.write(str) # 쓰기

# with open('file', 'r') as f:
#     data = f.read() # 읽기

with open('mytxtf.txt', 'w') as f:
    f.write('with문 읽고 쓰기1\n')
    f.write('with문 읽고 쓰기2\n')
    f.write('with문 읽고 쓰기3\n')

In [42]:
with open('mytxtf.txt', 'r') as f:
    fs = f.read()
    print(fs)

with문 읽고 쓰기1
with문 읽고 쓰기2
with문 읽고 쓰기3

In [43]:
# 구구단 3단 입력

with open('tt_table3.txt', 'w') as f:
    for i in range(1, 10):
        f.write('3 * {} = {}\n'.format(i, 3*i))

In [44]:
# 읽기 이전 방법

with open('tt_table3.txt', 'r') as f:
    print(f.read())

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [45]:
# 한줄씩 읽어오는 방법; 같은 출력문인데 무슨 차이?

with open('tt_table3.txt', 'r') as f:
    for i in f:
        print(i, end='')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# 07 함수

## 함수 정의와 호출

In [46]:
# 함수 정의 방법

'''

def 함수명([인자1, 인자2, ..., 인자n]):
    코드
    [return 반환값]

'''

# 인자, 반환값 없는 함수

def myf():
    print('mf func')
    print('this is func')

myf()

mf func
this is func

In [47]:
# 인자는 있지만 반환값이 없는 함수

def myfr(fn):
    print('내친구 {}'.format(fn))

myfr('ad')

# 인자 3개

def mysi(a, b, c):
    print('--------------------')
    print('- 학생이름:', a)
    print('- 학급번호:', b)
    print('- 전화번호:', c)

mysi('ad', '23', '12345')

내친구 ad
--------------------
- 학생이름: ad
- 학급번호: 23
- 전화번호: 12345

In [48]:
# 인자와 반환값 모두 있는 함수

def myc(x, y):
    z = x * y
    return z

myc(3, 5)

15

In [49]:
# 인자로 자료구조를 가지는 함수

def msil(si):
    print('-'*30)
    print('* 학생이름:', si[0])
    print('* 학급번호:', si[1])
    print('* 전화번호:', si[2])
    print('-'*30)

si = ['재훈', '02', '123-3423-2342']
msil(si)

msil(['재훈', '02', '123-3423-2342']) # 바로 출력

------------------------------
* 학생이름: 재훈
* 학급번호: 02
* 전화번호: 123-3423-2342
------------------------------
------------------------------
* 학생이름: 재훈
* 학급번호: 02
* 전화번호: 123-3423-2342
------------------------------

## 변수의 유효 범위

In [50]:
# 지역영역 > 전역영역 > 내장영역 순으로 선택


a = 5 # 전역변수

def f1():
    a = 1 # f1 지역변수
    print('[f1] 지역변수 a =', a)

def f2():
    a = 2 # f2 지역변수
    print('[f2] 지역변수 a =', a)

def f3():
    print('[f3] 전역변수 a =', a)

def f4():
    global a # 함수 내 전역변수 변경
    a = 4 # 전역변수 값 변경
    print('[f4] 전역변수 a =', a)

f1()
f2()
print(a) # 전역변수 a = 5 확인

f3()
f4() # 전역변수 변경
f3() # 변경된 전역변수 적용

[f1] 지역변수 a = 1
[f2] 지역변수 a = 2
5
[f3] 전역변수 a = 5
[f4] 전역변수 a = 4
[f3] 전역변수 a = 4

## 람다 함수

In [51]:
# 기본형태; lambda <인자> : <코드>
# 변형형태; (lambda <인자> : <코드>) (<인자>)

print((lambda x : x**2) (3))

ms = lambda x : x**3
print(ms(2))
print(ms(5))

# 여러 인자 람다함수

msf = lambda x, y, z : x**2 + 3*y + 1/z
print(msf(4, 5, 2))

9
8
125
31.5

## 유용한 내장 함수

In [52]:
# 형 변환 함수

'''
int() # 정수
float() # 실수
str() # 문자열

list()
tuple()
set()
'''

'\nint() # 정수\nfloat() # 실수\nstr() # 문자열\n\nlist()\ntuple()\nset()\n'

In [53]:
# bool 함수
# 숫자 0이면 False, 0 이외 숫자는 True
# 문자열이 있으면 True, 없으면 False

print(bool(0))
print(bool(1))
print(bool(-89))

print(bool('a'))
print(bool(' '))
print(bool(''))
print(bool(None)) # None == null

False
True
True
True
True
False
False

In [54]:
# 리스트, 튜플, 세트 인자인 bool()
# 항목이 있으면 True, 없으면 False

myf = []
print(bool(myf))

myf = ['ja']
print(bool(myf))

myn = ()
print(bool(myn))

myn = (1, 2, 3)
print(bool(myn))

mys = {}
print(bool(mys))

mys = {1, 3, 4}
print(bool(mys))

False
True
False
True
False
True

In [55]:
# bool() 활용

def pn(i):
    if bool(i):
        print('이름:', i)
    else:
        print('없음')
        
pn('ja')
pn('')

이름: ja
없음

In [56]:
# min(), max()
# 리스트, 튜플, 세트의 항목이나 문자열에 적용

In [57]:
# 절댓값, 합계

print(abs(-184219))

abc = [1, 2, 3, 7, 8, 10]
# sum(suml) # int not callable ?

184219

In [58]:
# 항목 개수; 리스트, 튜플, 딕셔너리의 데이터 길이

print(len('ab cd')) # 문자열의 문자 개수

print(len(abc)) # 리스트의 항목 개수

print(len((5, 6, 3)))

print(len({'a':3, 'c':4, 'b':90, 'd':29}))

5
6
3
4

In [59]:
# 내장함수 활용

sco = [90, 80, 95, 85]

tot = 0
cnt = 0

for i in sco:
    tot += i
    cnt += 1
avg = tot / cnt

print('총점 {}, 평균 {}'.format(tot, avg))

# 단순화

# print('총점 {}, 평균 {}'.format(sum(sco), sum(sco)/len(sco))) # int not callable

총점 350, 평균 87.5