##5장

In [12]:
x=95
if x >=90:
     print('pass')

pass

In [16]:
x = 75
if x >= 90:
    print('pass')
else:
    print('fail')

fail

In [24]:
x = 85
if x >= 90:
    print('Very good')
elif 80 <= x < 90:
     print('Good')
else:
        print('Bad')

Good

In [26]:
x = 100
if x >= 90:
    if x == 100:
        print('Perfect')
    else:
        print('Very Good')
elif 80 <= x < 90:
    print('Good')
else:
    print('Bad')

Perfect

In [30]:
x = 75
if x >= 80:
    pass
else:
    print('Ok')

Ok

In [32]:
a = 0
print(a)

0

In [33]:
a = a + 1
print(a)

1

In [87]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [49]:
myfriends = ['james', 'robert','lisa','mary']
for myfriend in myfriends:
    print(myfriend)

james
robert
lisa
mary

In [52]:
print(list(range(0, 10, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for a in range(0,6,2):
    print(a)

0
2
4

In [57]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

for x in x_list:
    for y in y_list:
        print(x, y)

x1 y1
x1 y2
x2 y1
x2 y2

In [74]:
names = ['james', 'robert','lisa','mary']
scores = [95, 96, 97, 94]
for a in range(len(names)):
    print(names[a], scores[a])

james 95
robert 96
lisa 97
mary 94

In [78]:
for name, score in zip(names, scores):
    print(name, score)

james 95
robert 96
lisa 97
mary 94

In [82]:
i = 0
sum = 0

while sum < 20:
    i +=1
    sum +=i
    print(i,sum)

1 1
2 3
3 6
4 10
5 15
6 21

In [3]:
k=0
while True:
    k = k+1
    
    if(k>3):
      break
        
    print(k)

1
2
3

In [4]:
for k in range(10):
    if(k>2):
        break
    print(k)

0
1
2

In [9]:
for k in range(5):
    if k==2:
        continue
    print(k)

0
1
3
4

In [12]:
numbers = [1,2,3,4,5]
square=[]

for i in numbers:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [15]:
square = [i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [19]:
numbers = [1,2,3,4,5]
square = []
for i in numbers:
    if i>= 3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [22]:
square = [i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

##실습1
1. 과일명과 과일가격으로 구성된 dict 데이터
2. fruit = {'apple':3500, 'peer':2500, 'cherry':5000}
3. 과일 가격이 3000보다 비싼 과일은 high에 저장,
4. 3000보다 싼 과일의 이름은 low에 저장
5. high, low 출력

In [26]:
fruit = {'apple':3500, 'peer':2500, 'cherry':5000}
fruit.items()

dict_items([('apple', 3500), ('peer', 2500), ('cherry', 5000)])

In [32]:
high = [] ; low=[]
for i in fruit.items():
    if i[1]>3000:
        high.append(i[0])
    else:
        low.append(i[0])
print('high =', high, 'low= ', low)

high = ['apple', 'cherry'] low=  ['peer']

##실습2. 과일개수
1. frui1은 과일명:[과일가격, 갯수]로 구성
2. 3000원 보다 비싼 과일은 총 몇개인가?

In [37]:
fruit1 = {"apple":[3500,5], "peer": [2500,2], "cherry": [5000,8], "mango":[2200,4]} 
fruit1

{'apple': [3500, 5],
 'peer': [2500, 2],
 'cherry': [5000, 8],
 'mango': [2200, 4]}

In [47]:
count = 0
for a in fruit1.items():
    if a[1][0] > 3000:
        count = count + a[1][1]
print('갯수: ',count)

갯수:  13

##실습3. A반 학생의 국어,영어,수학,과학의 시험 성적이다
A반 학생은 총 몇 명인가?

In [56]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}
tot = 0
for a in class_a.items():
    tot +=1
print('A반 학생은 총', tot, '명이다')

A반 학생은 총 4 명이다

##실습4. 학생별 총점과 평균은?

In [88]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}
for a in class_a.items():
    tot = 0           #위치 조심
    for i in a[1]:
        tot = tot + i
    print(a[0], '총점:', tot, '평균:', tot/len(a[1]))

A1 총점: 318 평균: 79.5
A2 총점: 321 평균: 80.25
A3 총점: 326 평균: 81.5
A4 총점: 337 평균: 84.25

#5. 개인별 점수 합계, 평균 저장하기 (dict방식)

In [82]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}
tot_dict = {}
for a in class_a.items():
    tot = 0
    for i in a[1]:
        tot = tot + i
    tot_dict[a[0]] = [tot, tot/len(a[1])]
print(tot_dict)

{'A1': [318, 79.5], 'A2': [321, 80.25], 'A3': [326, 81.5], 'A4': [337, 84.25]}

#6. 개인별 점수 합계, 평균 저장하기 (list방식)

In [115]:
class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}
tot_list = []
for a in class_a.items():
    tot = 0
    for i in a[1]:
        tot = tot + i
    tot_list.append([a[0], tot, tot/len(a[1])])
print(tot_list)

[['A1', 318, 79.5], ['A2', 321, 80.25], ['A3', 326, 81.5], ['A4', 337, 84.25]]

##6장

In [117]:
print('so','ryeong',sep = '*')

so*ryeong

In [121]:
print('hi, i am soryeong \n good bye')

hi, i am soryeong
 good bye

In [122]:
print('hi, i am soryeong')
print('good bye')

hi, i am soryeong
good bye

In [126]:
print('hi, i am soryeong',end = ' ')
print('good bye')

hi, i am soryeong good bye

In [129]:
name = '소령'
print('%s는 나의 친구입니다.' %name)

소령는 나의 친구입니다.

In [137]:
a = 'cat' ; b = 'dog' ; c= 'pig'
print('animals: {}, {}, {}'.format(a,b,c))

animals: cat, dog, pig

In [138]:
print('animals: {2}, {1}'.format(a,b,c))

animals: pig, dog

In [145]:
a = 'soryeong'
b = 25
c = 'seoul'
fmt_string = 'name= {}, age= {}, city= {}'
print(fmt_string.format(a, b, c))

name= soryeong, age= 25, city= seoul

In [152]:
name = input('이름이 무엇인가요?')
print('반가워요', name)

이름이 무엇인가요?소령
반가워요 소령

In [161]:
x = input('정사각형 한 변의 길이는? ')
area = int(x)**2
print('정사각형의 넓이: ',area)

정사각형 한 변의 길이는? 4
정사각형의 넓이:  16

In [158]:
x = input('정사각형 한 변의 길이는?')
area = int(x)**2
print('정사각형의 넓이: {}'.format(area))

정사각형 한 변의 길이는?50
정사각형의 넓이: 2500

In [157]:
num = input('숫자를 입력하세요')
print('당신이 입력한 숫자는 {}입니다'.format(num))

숫자를 입력하세요50
당신이 입력한 숫자는 50입니다

In [164]:
cd c:\soryeong  #폴더 이동

c:\soryeong

In [166]:
f = open('myfile.txt', 'w') #파일 쓰기 모드로 열기
f.write('hi, i want sleep') #문자열 작성
f.close() #파일 닫기

In [168]:
!type myfile.txt #파일 내용 출력

hi, i want sleep

In [173]:
f = open('my_file.txt', 'w')
f.write('hahaha')
f.close()

In [176]:
!type my_file.txt

hahaha

In [179]:
f = open('my_file.txt', 'r')   #파일 읽기 모드로 열기
file_text=f.read()  #파일 내용 읽은 후 변수에 저장
f.close()  #파일 닫기

print(file_text)  #변수에 저장된 내용 출력

hahaha

In [334]:
#파일에 문자열 한 줄씩 쓰기

f = open('c:/soryeong/table.txt', 'w')
for num in range(1,6):
    gugudan = '2 * {0} = {1}\n'.format(num, num*2)
    f.write(gugudan)
f.close()

In [336]:
!type table.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [340]:
#문자열 한 줄씩 읽기
f = open('c:/soryeong/table.txt')
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end='')
print(line2, end='')

2 * 1 = 2
2 * 2 = 4

In [353]:
f = open('c:/soryeong/table.txt')
line = f.readline()
while line:  #line이 공백인지 검사 후 반복 여부 결정
    print(line, end='') 
    line = f.readline()
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [347]:
f=open('c:/soryeong/table.txt')
!type table.txt

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [349]:
f = open('c:/soryeong/table.txt')
lines = f.readlines()  #파일 전체 읽기 = 리스트로 변환
f.close

print(lines)

['2 * 1 = 2\n', '2 * 2 = 4\n', '2 * 3 = 6\n', '2 * 4 = 8\n', '2 * 5 = 10\n']

In [391]:
f = open('c:/soryeong/table.txt')
lines = f.readlines()
f.close()
for line in lines:
    print(line, end='')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [355]:
f = f = open('c:/soryeong/table.txt')
for line in f.readlines():
    print(line, end='')
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [358]:
f = f = open('c:/soryeong/table.txt')
for line in f:
    print(line, end='')
f.close()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

In [383]:
with open('c:/soryeong/table2', 'w') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [384]:
!type table2

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [386]:
with open('c:/soryeong/table2') as f:
    data = f.read()
    print(data)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [388]:
with open('c:/soryeong/table3', 'w') as f:
    for num in range(6):
        aa = '3 * {} = {}\n'.format(num, num*3)
        f.write(aa)

In [390]:
!type table3

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

In [397]:
with open('c:/soryeong/table3', 'r') as f:
    for b in f:
        print(b,'*')

3 * 0 = 0
 *
3 * 1 = 3
 *
3 * 2 = 6
 *
3 * 3 = 9
 *
3 * 4 = 12
 *
3 * 5 = 15
 *

##7장

In [226]:
def my_func():
    print('my first function!')
    print('this is a function.')

In [229]:
my_func()

my first function!
this is a function.

In [231]:
def my_friend(name):
    print('{}는 나의 친구입니다.'.format(name))

In [232]:
my_friend('소령')

소령는 나의 친구입니다.

In [235]:
def info(name, ID, phonenumber):
    print('-'*20)
    print('-학생이름: ',name)
    print('-학급번호: ',ID)
    print('-전화번호: ',phonenumber)
    print('-'*20)

In [237]:
info('이소령', '01','010-****-****')

--------------------
-학생이름:  이소령
-학급번호:  01
-전화번호:  010-****-****
--------------------

In [239]:
def calc(x,y):
    z = x*y
    return z

In [240]:
calc(2,5)

10

In [253]:
def info_list(info):
    print('*******************')
    print('학생이름:', info[0])
    print('학급번호:', info[1])
    print('전화번호:', info[2])
    print('*******************')

In [255]:
info = ['소령','01','010-****-****']
info_list(info)

*******************
학생이름: 소령
학급번호: 01
전화번호: 010-****-****
*******************

In [261]:
#같은 이름의 변수인 지역 변수와 전역 변수

a = 5
def func1():
    a = 1
    print('[func1] 지역 변수 a=', a)

def func2():
    a = 2
    print('[func2] 지역 변수 a=', a)
    
def func3():
    print('[func3] 전역 변수 a=', a)
    
def func4():
    global a
    a = 4
    print('[func4] 전역 변수 a=', a)

In [262]:
func1()
func2()
func3()
func4()
print()

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
[func3] 전역 변수 a= 5
[func4] 전역 변수 a= 4

##lambda 함수
(lambda 인자 : 인자 활용 수행 코드) (인자)

In [263]:
(lambda x : x*3)(3)

9

In [267]:
(lambda y : y**2) (5)

25

In [268]:
a = lambda x : x**2
a(4)

16

In [269]:
b = lambda x,y,z : 2*x + 3*y + z
b(1,2,3)

11

##형 변환 함수

In [272]:
[int(32.4), int(3.18615), int(-10.46)]

[32, 3, -10]

In [273]:
[float(20)]  #실수형으로 변환

[20.0]

In [274]:
str(254)  #문자형으로 변환

'254'

In [277]:
bool(1)

True

In [279]:
bool(0)

False

In [280]:
bool(-3)

True

In [281]:
bool('abc')  #문자열이 있으면 True

True

In [283]:
bool(' ') #공백

True

In [285]:
bool('')

False

In [287]:
bool(None)

False

In [288]:
m = [1,2,3]
bool(m)

True

In [289]:
m = []
bool(m)

False

In [290]:
def pn(name):
    if bool(name):
        print('입력된 이름:', name)
    else:
        print('입력된 이름이 없습니다.')

In [293]:
pn('')

입력된 이름이 없습니다.

In [296]:
pn('소령')

입력된 이름: 소령

In [301]:
mynum = [10,5,21,98,5,21,5]
max(mynum)

98

In [302]:
min(mynum)

5

In [309]:
abs(-5) #절댓값

5

##총점과 평균값 구하기

In [320]:
scores = [90, 80, 95, 85]
sum = 0
num = 0
for a in scores:
    sum = sum + a
    num = num + 1
print('총점:',sum, '평균값:',num)

총점: 350 평균값: 4

In [333]:
scores = [90, 80, 95, 85]

print('총점:{}, 평균값:{}'.format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균값:87.5