# 05장 제어문

In [2]:
x=95
if x>=90:
    print("Pass")

Pass

In [3]:
x=75
if x>=90:
    print("Pass")
else:
    print("Fail")

Fail

In [4]:
x=85
if x>=90:
    print("Very good")
elif (x>=80) and (x<90):
    print("Good")
else:
    print("Bad")

Good

In [5]:
x=85
if x>=90:
    print("Very Good")
elif 80<=x<90:
    print("Good")
else:
    print("Bad")

Good

In [6]:
x=100
if x>=90:
    if x==100:
        print("Perfect")
    else:
        print("Very Good")
elif (x>=80) and (x<90):
    print("Good")
else:
    print("Bad")

Perfect

In [7]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [8]:
myFriends = ["James","Robert","Lisa","Mary"]   #리스트를 변수에 할당
for myFriend in myFriends:
    print(myFriend)

James
Robert
Lisa
Mary

In [9]:
print(range(0,10,1))  #0부터 10까지 1씩 증가

range(0, 10)

In [10]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [12]:
for a in range(0,6,2):
    print(a)

0
2
4

In [13]:
print(list(range(0,10,1)))
print(list(range(0,10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]

In [16]:
x_list=["x1", "x2"]
y_list=["y1", "y2"]

print("xy")
for x in x_list:
    for y in y_list:
        print(x,y)

xy
x1 y1
x1 y2
x2 y1
x2 y2

In [19]:
names=['James','Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]
for k in range(len(names)):
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [20]:
for name, score in zip(names, scores):
    print(name,score)

James 95
Robert 96
Lisa 97
Mary 94

In [21]:
i=0   #초기화
sum=0   #초기화

print("i sum")
while(sum<20):   #조건 검사
    i=i+1   #i를 1씩 증가
    sum=sum+i   #이전의 sum과 현재 i를 더해서 sum을 갱신
    print(i,sum)   #i와 sum을 출력

i sum
1 1
2 3
3 6
4 10
5 15
6 21

In [25]:
k=0
while True:
    k=k+1   #k는 1씩 증가
    if(k>3):   #k가 3보다 크면
        break   #break로 while문을 빠져나옴
    print(k)

1
2
3

In [26]:
for k in range(10):
    if(k>2):   #k가 2보다 크면
        break
    print(k)

0
1
2

In [29]:
for k in range(5):
    if(k == 2):    #k가 2와 같으면
        continue
    print(k)

0
1
3
4

In [31]:
####31, 32 명령문 비교ㅍ(p90-91)

k=0
while True:
    k=k+1
    if(k==2):
        print("continue next")
        continue
    if(k>4):
        break
    print(k)

1
continue next
3
4

In [32]:
k=0
while True:
    k=k+1
    if(k==2):
        print("continue next")
        continue
    if(k>4):
        break
print(k)

continue next
5

In [34]:
numbers=[1,2,3,4,5]
square=[]
for i in numbers:
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [35]:
numbers=[1,2,3,4,5]
square=[]
for i in numbers:
    if i>=3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [36]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]

# 06장 입력과 출력

In [37]:
print("Hello Python!!")

Hello Phtyon!!

In [39]:
print("Best", "python", "book")

Best python book

In [41]:
print("Best", "python", "book", sep="-:*:-")    #sep="-:*:-"

Best-:*:-python-:*:-book

In [44]:
print("abcd"+"efg")

abcdefg

In [49]:
print("Best", "python", "book" + ":", "This book")

Best python book: This book

In [52]:
name="James"
ID_num= 789
print("Name:", name+ ",", "ID Number:", ID_num)

Name: James, ID Number: 789

In [57]:
print("James is my friend.\nHe is Korean")   #\n 줄바꾸기

James is my friend.
He is Korean

In [59]:
print("James is my friend.\n\nHe is Korea.")

James is my friend.

He is Korea.

In [61]:
print("Welcome to ")
print("python!")

Welcome to
python!

In [64]:
print("Welcome to ", end="")
print("python!")

Welcome to python!

In [69]:
#오류 p99
name = "광재"
print("%는 나의 친구입니다." %name)

ValueError: unsupported format character '?' (0xb294) at index 1

In [71]:
r=3
PI=3.131492653
print("반지름: %d, 원주율: %f" %(r,PI))   #지정된 위치에 데이터 출력

반지름: 3, 원주율: 3.131493

In [73]:
animal_0="cat"
animal_1="dog"
animal_2="fox"

print("Animal:{0}".format(animal_0))
print("Animal:{0},{1},{2}".format(animal_0, animal_1, animal_2))

Animal:cat
Animal:cat,dog,fox

In [75]:
print("Animal:{1},{2},{0}".format(animal_0, animal_1, animal_2))

Animal:dog,fox,cat

In [77]:
print("Animal:{0},{2}".format(animal_0, animal_1, animal_2))

Animal:cat,fox

In [80]:
print("Animal:{},{}, {}".format(animal_0,animal_1,animal_2))

Animal:cat,dog, fox

In [84]:
name="Tomas"
age=10
a=0.1234567890123456789
fmt_string="String:{0}.Integer Numer:{1}.Floating Number:{2}"
print(fmt_string.format(name,age,a))

String:Tomas.Integer Numer:10.Floating Number:0.12345678901234568

In [87]:
a=0.12345678901234567890
print("{0:.2f}, {0:5f}".format(a))

0.12, 0.123457

In [ ]:
#p103 *오류
yourName=input("당신의 이름은? ")
print("당신은 {}이군요.".format(yourName))

In [ ]:
num=input("숫자를 입력하세요: ")
print("당신이 입력한 숫자는 {}입니다.".format(num))

# 07장

In [90]:
def my_func():
    print("My first function!")
    print("This is a function.")
my_func()

My first function!
This is a function.

In [92]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [95]:
def my_student_info(name, school_ID, phoneNumber):
    print("-----------------------")
    print("- 학생이름:", name)
    print("- 학급번호", school_ID)
    print("- 전화번호", phoneNumber)

my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

-----------------------
- 학생이름: 현아
- 학급번호 01
- 전화번호 01-235-6789
-----------------------
- 학생이름: 진수
- 학급번호 02
- 전화번호 01-987-6543

In [99]:
def my_student_info(name, school_ID, phoneNumber):
    print("*********************")
    print("* 학생이름", name)
    print("* 학급번호", school_ID)
    print("* 전화번호", phoneNumber)
    
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

*********************
* 학생이름 현아
* 학급번호 01
* 전화번호 01-235-6789
*********************
* 학생이름 진수
* 학급번호 02
* 전화번호 01-987-6543

In [100]:
def my_calc(x,y):
    z=x*y
    return z
my_calc(3,4)

12

In [101]:
def my_student_info_list(student_info):
    print("************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("************************")

student1_info=["현아", "01", "01-235-6789"]
my_student_info_list(student1_info)

************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
************************

In [102]:
my_student_info_list(["진수", "02", "01-987-6543"])

************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
************************

In [103]:
a=5   #전역 변수
def func1():
    a=1    #지역 변수
    print("[func1] 지역 변수 a=", a)
    
def func2():
    a=2
    print("[func2] 지역 변수 a=", a)

def func3():
    print("[func3] 전역 변수 a=", a)
    
def func4():
    global a    #함수 내에서 전역 변수를 변경하기 위해 선언
    a=4
    print("[func4] 전역 변수 a=", a)
    
    
func1()
func2()
print("전역 변수 a=", a)

[func1] 지역 변수 a= 1
[func2] 지역 변수 a= 2
전역 변수 a= 5

In [105]:
func3()
func4()
func3()

[func3] 전역 변수 a= 4
[func4] 전역 변수 a= 4
[func3] 전역 변수 a= 4

In [107]:
#람다(lamda) 함수

(lamda x : x**2)(3)

SyntaxError: invalid syntax (<ipython-input-107-0c1af5665727>, line 3)

In [112]:
#정수형으로 변환 : int()

[int(0.123), int(3.5123456), int(-1.32423)]

[0, 3, -1]

In [113]:
[int('1234'), int('5647'), int('-9012')]

[1234, 5647, -9012]

In [114]:
#실수형으로 변환 : float()
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [117]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [120]:
#문자형으로 변환 : str()

In [121]:
[str(123), str(4567), str(-987)]

['123', '4567', '-987']

In [122]:
#리스트, 튜플, 세트평으로 변환
list_data=['abc', 1, 2, 'def']   #리스느트는 []
tuple_data=('abc', 1, 2, 'def')   #튜플은  ()
set_data={'abc', 1, 2, 'def'}

[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [123]:
print("리스트로 변환:", list(tuple_data), list(set_data))

리스트로 변환: ['abc', 1, 2, 'def'] ['abc', 1, 2, 'def']

In [125]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [126]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {'abc', 1, 2, 'def'} {'abc', 1, 2, 'def'}

In [127]:
#bool 함수

bool(0)

False

In [128]:
bool(1)   #숫자 0이면 F, 0이외의 숫자면 T

True

In [129]:
bool('a')

True

In [130]:
bool(' ')  #공백

True

In [135]:
bool('')

False

In [136]:
bool('None')

True

In [134]:
bool(None)    #빈 문자열이면 F, 빈 문자열이 아니면 T

False

In [138]:
#리스트 튜플, 세트를 인자로 bool 함수 호출

myFriends=[]
bool(myFriends)    #인자: 항목이 없는 빈 리스트

False

In [139]:
myFriends=['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends)    #인자: 항목이 있는 리스트

True

In [140]:
myNum=()
bool(myNum)    #인자: 항목이 없는 빈 튜플

False

In [141]:
myNum=(1,2,3)
bool(myNum)     #인자: 항목이 있는 리스트

True

In [142]:
mySetA={}
bool(mySetA)    #인자: 항목이 없는 빈 세트

False

In [143]:
mySetA={10, 20, 30}
bool(mySetA)     #인자: 항목이 있는 세트

True

In [144]:
#bool 함수의 활용

def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")
        
print_name("James")

입력된 이름: James

In [146]:
print_name("")

입력된 이름이 없습니다.

In [147]:
#최솟값, 최댓값 구하기

myNum=[10, 5, 12, 0, 3.5, 99.5, 42]
min(myNum), max(myNum)

(0, 99.5)

In [148]:
myStr='zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [149]:
myNum=(10, 5, 12, 0, 3.5, 99.5, 42)
min(myNum), max(myNum)

(0, 99.5)

In [150]:
myNum={'Abc', 'abc', 'bcd', 'efg'}
[min(myNum), max(myNum)]

['Abc', 'efg']

In [151]:
#절댓값 구하기 : abs()

[abs(10), abs(-10)]

[10, 10]

In [156]:
#전체 합 구하기 : sum(0)

sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(sumList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [158]:
sum (sumList)

TypeError: 'int' object is not callable

In [159]:
#항목의 개수 구하기 : len()   - 문자열, 리스트, 튜플, 세트, 딕셔너리 모두 사용 O

len("ab cd")   #문자열

5

In [160]:
len([1, 2, 3, 4, 5, 6, 7, 8])    #리스트

8

In [161]:
len((1, 2, 3, 4, 5))   #튜플

5

In [162]:
len({'a', 'b', 'c', 'd'})   #세트

4

In [163]:
len({1:"Thomas", 2:"Edward", 3:"Herry"})    #딕셔너리

3

In [164]:
#내장 함수의 활용

scores=[90, 80, 95, 85]   #과목별 시험 점수
score_sum=0
subject_num=0
for score in scores:
    score_sum= score_sum+score
    subject_num= subject_num+1
    
average = score_sum / subject_num

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [165]:
scores=[90, 80, 95, 85]
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

TypeError: 'int' object is not callable

In [166]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95