In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv('./Quiz3/toy_boston_houseprice.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [24]:
df['RAD'].value_counts()

24.0    132
5.0     115
4.0     110
3.0      38
6.0      26
2.0      24
8.0      24
1.0      20
7.0      17
Name: RAD, dtype: int64

#### 문제1)
<pre>
보스턴 데이터 범죄율 컬럼 top10 중 10번째 범죄율 값으로  
1~10위의 범죄율 값을 변경 후 
AGE 변수 80이상의 범죄율 평균 산출

In [25]:
test = pd.DataFrame({"age":[1,2,3,4]})
test['age'] = 5
test.head()

   age
0    5
1    5
2    5
3    5

방법1) 복제해서 사용

In [26]:
df_sort = df.sort_values(by='CRIM', ascending=False)
# df_sort['CRIM'].iloc[:10] = 25.9406 
df_sort['CRIM'].iloc[:10] = df_sort['CRIM'].iloc[9]
df_sort[df_sort['AGE']>=80]['CRIM'].mean()   #5.759386625

5.759386624999999

방법2) 인덱스를 이용한 iloc

In [27]:
idxs = df['CRIM'].sort_values(ascending=False).iloc[:10].index.values.tolist()
print(idxs)
crim10 = df_sort['CRIM'].iloc[9]  #25.9406 
df['CRIM'].iloc[idxs] = crim10
df[df['AGE']>=80]['CRIM'].mean()   #5.759386625

[380, 418, 405, 410, 414, 404, 398, 427, 413, 417]

5.759386625

#### 문제2)
<pre>
csv에서 80% 량의 데이터를 추출 후              #????
'RAD'가 7인 값을 'RAD' 중앙값(median)으로 바꾸고     #np.median()
변경전, 변경 후 'RAD'의 표준편차 출력          #np.std()

In [28]:
df = pd.read_csv('./Quiz3/toy_boston_houseprice.csv')
df.shape

(506, 14)

방법1) train_test_split()

In [29]:
from sklearn.model_selection import train_test_split
df8, df2 = train_test_split(df, train_size=0.8)
df8.shape, df2.shape

((404, 14), (102, 14))

방법2) 8 : 2 비율로 자르기

In [30]:
rate8 = int(df.shape[0] * 0.8)  # 404.8
df80 = df.iloc[0:rate8  , : ]
df80.shape

(404, 14)

방법1) 중앙값 편차 describe이용하기
* 50% : 중앙값
* 편차 : std

In [31]:
before_des = df80['RAD'].describe()
print (  type(before_des))
before_des

<class 'pandas.core.series.Series'>

count    404.000000
mean       6.789604
std        6.504268
min        1.000000
25%        4.000000
50%        5.000000
75%        6.000000
max       24.000000
Name: RAD, dtype: float64

In [32]:
before_median_v = before_des['50%']
before_std_v = before_des['std']
before_median_v, before_std_v

(5.0, 6.50426779850157)

In [33]:
df80[df80['RAD']==7] = before_median_v

C:\Users\677\AppData\Local\Temp/ipykernel_6448/3895123052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df80[df80['RAD']==7] = before_median_v
c:\ai\pythonproject\venv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
c:\ai\pythonproject\venv\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [34]:
after_des = df80['RAD'].describe()
print (  type(after_des))
after_des

<class 'pandas.core.series.Series'>

count    404.000000
mean       6.705446
std        6.513957
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max       24.000000
Name: RAD, dtype: float64

In [35]:
after_median_v = after_des['50%']
after_std_v = after_des['std']
after_median_v, after_std_v

(5.0, 6.513956770157352)

In [36]:
before_std_v, after_std_v

(6.50426779850157, 6.513956770157352)

방법2) 중앙값 편차 구하기

In [45]:
df = pd.read_csv('./Quiz3/toy_boston_houseprice.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [46]:
rate8 = int(df.shape[0] * 0.8)  # 404.8
df80 = df.iloc[0:rate8  , : ]
df80.shape

(404, 14)

In [47]:
median_v = df80['RAD'].median()
median_v  #5.0

5.0

In [48]:
# 변경전 편차
before_std = df80['RAD'].std()
before_std

6.50426779850157

In [49]:
df80[df80['RAD']==7] = median_v

C:\Users\677\AppData\Local\Temp/ipykernel_6448/3171902845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df80[df80['RAD']==7] = median_v
c:\ai\pythonproject\venv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
c:\ai\pythonproject\venv\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [50]:
df80[df80['RAD']==5.0]['RAD']

6      5.0
7      5.0
8      5.0
9      5.0
10     5.0
      ...
339    5.0
340    5.0
343    5.0
344    5.0
353    5.0
Name: RAD, Length: 132, dtype: float64

In [51]:
after_std = df80['RAD'].std()

In [52]:
before_std, after_std

(6.50426779850157, 6.513956770157352)

|구분|설명|수식|
|----|---|---|
|평균(mean,average)|샘플합/샘플갯수|ss|
|편차(dev, deviation)|샘플 - 평균|ss|
|분산(var, variance)|편차(샘플-평균) 제곱의 평균|ss|
|표준편차(std, standard deviation)|분산의 제곱근(루트)|ss|
<pre>
① 중심경향값 : 평균, 중위수, 최빈값
② 산포도(퍼짐) : 표준편차, 분산, 범위, 사분위수
③ 분포도(모양) : 왜도, 첨도

* 정규분포 : 평균을 중심으로 좌우대칭 형태 (모수/ 비모수)
* 중심극한 : 중심극한의 정리(CLT, Central Limit Theorem)
            표본의 평균은 표본의 개수(n)가 커질수록, 정규분포와 유사해 진다
            표본의 수가 충분히 크다면, 정규분포라고 가정할 수 있다 (n > 30)