In [2]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

* mtcars 데이터셋(mtcars.csv)
* pd.read_csv()

In [3]:
df = pd.read_csv('./Quiz1/mtcars.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

* 2) qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환
* from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()
# np.array(df['qsec'])
# df['qsec'].values  --- 가로
df['qsec_sc'] = scaler.fit_transform( df['qsec'].values.reshape(-1,1) )   #세로줄array, matrics  ---- df['qsec']  error
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,qsec_sc
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.233333
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.300000
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.489286
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.588095
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.300000

### count()  vs len()
* df python
* 집계한 레코드수   array-like 길이(요소값 몇개)

* 3) qsec 0.5보다 큰 값 --> 레코드 수
* df['qsec']>0.5      df['qsec'].count()

In [20]:
df[df['qsec_sc']>0.5]['qsec_sc'].count()

9

In [21]:
len(df[df['qsec_sc']>0.5].index.values)

9

In [18]:
len( df[df['qsec_sc']>0.5]['qsec_sc'].values )

9

In [24]:
list = [[1,2],
        [3,4],
        [5,6]
       ]
arr = np.array(list)
arr

array([[1, 2],
       [3, 4],
       [5, 6]])

In [26]:
len(arr)

3

In [25]:
len(arr[0])

2

* 값(스칼라, scalar) : 2 ---> 길이를 잴 수 없다
* object of type 'numpy.int32' has no len()

In [28]:
# len(arr[0][1])

TypeError: object of type 'numpy.int32' has no len()