In [1]:
# 실습; 주민등록번호에서 생년월일 추출

jum = '900907-1234567'

print( jum[:6] )

900907

In [2]:
# 실습; 날짜는 date 변수, 기온은 weather 변수에

a = '20010331Rainy'

date = a[:8]
weather = a[8:]

print(date)
print(weather)

20010331
Rainy

In [3]:


year = a[:4]
day = a[4:8]

print(year)
print(day)

2001
0331

In [4]:
# 실습; 문자열 바꾸기

a = 'pithon'

a.replace('i', 'y')

'python'

In [5]:
# 실습; 문자열 바꾸기 다른 답안(분해)

a1 = a[0]
a2 = 'y'
a3 = a[2:]

print( a1 + a2 + a3 )
print( a[0] + 'y' + a[2:] )

python
python

In [6]:
# 실습; life 값 추출

a = [1, 2, ['a', 'b', ['Life', 'is']]]
# b = a[2]
# c = b[0]
# d = c[1]
# e = d[0]
# e[0]

# 해답

print( a[2][2][0] ) # a의 2의 2의 0 인덱스

Life

In [7]:
# 실습; 시험 성적 평균

a = 80
b = 75
c = 55

av = ( a + b + c ) / 3

print( av )

70.0

In [8]:
# 실습; 리스트화 답안(반복처리에 유리)

sco = [80, 75, 55]
kr = sco[0]
en = sco[1]
ma = sco[2]

avg = ( sco[0] + sco[1] + sco[2] ) / 3
print(avg)

70.0

In [9]:
# 예시; 반복 처리하기에 좋은 구조로 바꿈
# 반복문에서 인덱스만 바꿔주면서 활용

exam = [[80, 75, 55], [90, 65, 88], [70, 80, 90]]

sco = exam[1]

avg = ( sco[0] + sco[1] + sco[2] ) / 3
print(avg)

# 많은 양의 데이터를 효율적으로 처리하기 위한
# 코드 구조를 고민

81.0

## set

set_p = {1, 2, 3}

중복을 허용하지 않음

순서가 설정되어 있지 않음

주로 데이터의 중복을 체크해줄 때 이용

In [10]:
a = {1, 2, 3}

print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

In [11]:
b = {1, 2, 3, 3, 4, 5, 3} # 중복은 거르고 출력
b

{1, 2, 3, 4, 5}

In [12]:
a1 = [1, 2, 3, 3, 4, 5, 4, 5, 6]

set(a1) # 중복을 걸러줄 수 있게

{1, 2, 3, 4, 5, 6}

In [13]:
list(set(a1)) # 중복 거른 후 다시 리스트화

[1, 2, 3, 4, 5, 6]

In [14]:
# b[0]
# 중복을 허용하면서 순서가 없기 때문에
# 인덱스로 접근할 수 없음

In [15]:
# 다양한 데이터 타입을 가질 수 있음

set1 = {'a', 'b', 'c', 'd'}
set2 = {1, 7, 3, 5, 2}
set3 = {True, False}
set4 = {'a', 34, True, 50, 'male'}

In [16]:
# 집합이기 때문에 집합 연산 가능

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8, 9, 10}

print( set_a.intersection(set_b) ) # 두 세트의 교집합
print( set_a.union(set_b) ) # 합집합
print( set_a & set_b ) # 교집합과 같음
print( set_a | set_b ) # 합집합
print( set_a.difference(set_b) ) # a 차집합 b
print( set_b.difference(set_a) )
print( set_a - set_b ) # 차집합

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}
{6, 7, 8, 9, 10}
{1, 2, 3}

In [17]:
print('1 = ', set_a)
x = set_a.pop() # 값 중 하나를 빼냄
print('x = ', x)
print('2 = ', set_a)

print('1 = ', set_a)
x = set_a.pop() # 값 중 하나를 빼냄
print('x = ', x)
print('2 = ', set_a)

# 되돌아갈 수 없는 데이터 처리 방식

1 =  {1, 2, 3, 4, 5}
x =  1
2 =  {2, 3, 4, 5}
1 =  {2, 3, 4, 5}
x =  2
2 =  {3, 4, 5}

# 조건문, 반복문

모든 언어에서 기본이 되고 자주 사용하는 명령어

조건문, 반복문을 사용할 수 있는 데이터 구조로 만들 것

In [18]:
python = True

type(python)

bool

In [19]:
# 연산자 실습

a = 10; b = 15; c = 10

print(a==b)
print(a!=b)
print(a in (10, 20, 30)) # 이들 중 같은 값 존재

print( a==b & a==c ) # and보다 & 활용, 속도 빠름
print( a==b | a==c ) # or보다 | 활용

False
True
True
True
False

## if

In [20]:
py = 0 # 조건이 참일 때만 코드 실행

# 일반적으로 조건문에 bool
# 조건문에 숫자 0 이면 거짓으로 인식
# 0 이외의 숫자가 오면 참으로 인식

if py: 
    print('cond true') # 자동 들여쓰기
    print('111') # 들여쓰기가 동일하지 않으면 오류
    print('error') # 같은 레벨의 명령어 인식
else: # 조건이 거짓일 때
    print('false')
    print('참이 아닐 때 실행')

false
참이 아닐 때 실행

In [21]:
a = False
b = False

if (a): # 순서대로 데이터 확인해서 출력
    print('a true')
elif (b): # 조건문 추가
    print('a false, and b true')
else:
    print('a & b false')

a & b false

In [22]:
#실습01 화면에서 숫자를 받아 부호 판단

# x = int(input('숫자는? ')) # 문자열 입력 대기

if x > 0:
    print(x, '은(는) 양수')
else:
    print(x, '은(는) 음수')

2 은(는) 양수

In [23]:
# 실습02
# 1. 화면에서 숫자를 입력받아
# 2. 홀수면 '홀수', 짝수면 '짝수'를 출력

# x = int(input('숫자는? '))

if x % 2 == 0: # != 0, == 1 이면, 코드 순서 바뀜
    print('짝수')
else:
    print('홀수')

짝수

In [24]:
# 실습03 성적평가
# 1. 화면에서 점수를 입력 받아
# 2. 90점 이상은 'a'
# 3. 80~90점은 'b'
# 4  70~80점은 'c'
# 5. 70점 이하는 'd'를
# 6. ??점은 'a' 형식으로 출력

# x = int(input('점수는? '))

if x >= 90:
    print('{}점은 A등급입니다.'.format(x))
elif 80 <= x < 90: # 순차적으로 진행하기 때문에 x >= 80 가능
    print('{}점은 B등급입니다.'.format(x))
elif 70 <= x < 80: # x >= 70
    print('{}점은 C등급입니다.'.format(x))
else:
    print('{}점은 D등급입니다.'.format(x))

2점은 D등급입니다.

In [25]:
# 출력문을 한번만 입력해도 되도록
# 어떻게 하면 빠르고 효율적으로 작성할지 고민

# x = int(input('점수는? '))

if x > 90:
    degree = 'A'
elif x > 80:
    degree = 'B'
elif x > 70:
    degree = 'C'
else:
    degree = 'D'
print('{}점은 {}등급입니다'.format(x, degree))

2점은 D등급입니다

In [26]:
x = 75

if x > 80:
    pass # 에러는 막고 문법적으로 맞춰주기 위함. 일단 진행하도록
else:
    print('hi')

hi

In [27]:
# x = int(input('점수는? '))

if x > 90:
    if x == 100: # if문 내부로 if문 삽입
        degree = 'Perfect'
    else:
        degree = 'Very Good'
elif x > 80:
    degree = 'Good'
else:
    degree = 'Bad'
print('{}점은 {}등급입니다'.format(x, degree))

75점은 Bad등급입니다

# 반복문

for 변수명 in 반복처리할_자료:

    코드1
    
    코드2
    
    ...
    

파이썬은 자료구조, 조건문, 반복문으로 끝남

iterable 반복자만 in 뒤에 올 수 있음
리스트, 튜플, 딕셔너리, 문자열 등. 문자열은 한 글자씩 인식.
하나의 int는 불가능

반복 횟수는 range()를 자주 활용

In [28]:
print(list(range(0, 10))) # 0부터 9까지
print(list(range(0, 10, 2))) # step 부여

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [29]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(0, 5): # 반복적으로 실행. for 변수 in 범위/리스트 등
    print('i = ', i)
    print('a = ', a[i])
    print('-'*30)

i =  0
a =  1
------------------------------
i =  1
a =  2
------------------------------
i =  2
a =  3
------------------------------
i =  3
a =  4
------------------------------
i =  4
a =  5
------------------------------

In [30]:
a = ['a', 'b', 'c', 'd', 'e']

for j in a:
    print('j = ', j)

j =  a
j =  b
j =  c
j =  d
j =  e

In [31]:
b = 'hello!' # 문자열도 iterable 

for j in b:
    print('j = ', j)

j =  h
j =  e
j =  l
j =  l
j =  o
j =  !

In [32]:
for k in range(0, len(a)): # len()은 정수지만 range 안에서 인식
    print(a[k])

a
b
c
d
e

In [33]:
dic = {'a':10, 'b':20, 'c':30}

for l in dic: # 딕셔너리명을 키를 반복자로 가짐
    print(l) # dic.keys() dic.values() dic.items()로 바꿔 활용 가능

a
b
c

In [34]:
fruit = ['app', 'pee', 'cher']

for i in fruit:
    print(i)

app
pee
cher

In [35]:
list(dic.keys())[1] # 딕셔너리에서 키를 리스트화 인덱스

'b'

In [36]:
for i in range(0, 5): # i 기준으로 먼저 순서 반복
    for j in range(10, 15): # i의 순서 내에서 j 순서 반복
        print('{} * {} = {}'.format(i, j, i*j))
    print('-' * 10)

0 * 10 = 0
0 * 11 = 0
0 * 12 = 0
0 * 13 = 0
0 * 14 = 0
----------
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
1 * 13 = 13
1 * 14 = 14
----------
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
----------
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
----------
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56
----------

In [37]:
# 데이터 처리 구조
# 데이터 읽어서
# if 조건에 따라 처리한 후
# for 반복 처리..
# if 조건 반복

In [38]:
# 학생별로 점수 매핑

names = ['james', 'robert', 'lisa', 'mary']
scores = [95, 96, 97, 94]

for k in range(len(names)):
    print('{}는 {}입니다.'.format(names[k], scores[k]))
    print('-' * 20)

james는 95입니다.
--------------------
robert는 96입니다.
--------------------
lisa는 97입니다.
--------------------
mary는 94입니다.
--------------------

In [39]:
print(a)

print(enumerate(a)) # 인덱스를 붙인 튜플을 리스트로 구성하는 함수

print(list(enumerate(a)))

['a', 'b', 'c', 'd', 'e']
<enumerate object at 0x0000018A6573E300>
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [40]:
for i in enumerate(a):
    print(i)
    print(i[0])
    print(i[1])
    print('-'*20)

(0, 'a')
0
a
--------------------
(1, 'b')
1
b
--------------------
(2, 'c')
2
c
--------------------
(3, 'd')
3
d
--------------------
(4, 'e')
4
e
--------------------

In [41]:
names = ['james', 'robert', 'lisa', 'mary']
scores = [95, 96, 97, 94]

for i, name in enumerate(names):
    print('{}는 {}입니다.'.format(name, scores[i]))
    print('-' * 20)

james는 95입니다.
--------------------
robert는 96입니다.
--------------------
lisa는 97입니다.
--------------------
mary는 94입니다.
--------------------

In [42]:
for i in range(0, 10):
    if i == 3:
        continue # 조건을 만족하면 실행하지 말고 진행
    if i == 6:
        break # 조건을 만족하면 for문 종료
    print('i = ', i)

i =  0
i =  1
i =  2
i =  4
i =  5

# while 문

In [43]:
# for문은 실행 횟수가 미리 정해져 있음
# while은 만족할 때 까지 실행
# while문의 무한루프 때문에 for문 자주 사용

x = 5
while x > 0:
    print(x)
    x -= 1
else:
    print('종료')

5
4
3
2
1
종료

In [44]:
# 실습; 과일 찾기
# 1. 과일명과 과일 가격으로 구성된 dict 데이터
# 2. fruit = {'app':3500, 'pee':2500, 'cher':5000}
# 3. 과일 가격이 3000보다 비싼 과일은 high에 저장
# 4. 3000원 보다 싼 과일의 이름은 low에 저장
# 5. high, low를 출력

fruit = {'app':3500, 'pee':2500, 'cher':5000, 'grap':5000, 'mel':2500, 'berr': 3000}
high = []
low = []
fruit_l = list(fruit.keys())

for i in fruit_l: # dict인 fruit도 key만 접근
    if fruit.get(i) > 3000:
        high.append(i)    
    else:
        low.append(i)

print('high =', high)
print('low =', low)

high = ['app', 'cher', 'grap']
low = ['pee', 'mel', 'berr']

In [45]:
# 실습 선생님 답안
fruit = {'app':3500, 'pee':2500, 'cher':5000, 'grap':5000, 'mel':2500, 'berr': 3000}
high = []
low = []

# dict.items() 는 딕셔너리의 쌍을 튜플로 가지는 리스트화

for fru_s in fruit.items(): # 변수는 for문 내에서만
    if fru_s[1] > 3000: # 튜플의 1번 인덱스 조건
        high.append(fru_s[0]) # 튜플의 0번 인덱스 결과
    else:
        low.append(fru_s[0])

print('high =', high)
print('low =', low)

high = ['app', 'cher', 'grap']
low = ['pee', 'mel', 'berr']

In [46]:
# 과일명-가격을 추가하고 싶다면
fruit = {'app':3500, 'pee':2500, 'cher':5000, 'grap':5000, 'mel':2500, 'berr': 3000}
high = []
low = []
fruit_l = list(fruit.keys())

for i in fruit_l:
    if fruit.get(i) > 3000:
        high.append([i, fruit.get(i)])    
    else:
        low.append([i, fruit.get(i)])

print('high =', high)
print('low =', low)

high = [['app', 3500], ['cher', 5000], ['grap', 5000]]
low = [['pee', 2500], ['mel', 2500], ['berr', 3000]]

In [47]:
# 실습 과일 개수
# 1. fruit1은 과일명:[과일가격,갯수]로 구성
# 2. 3000원보다 비싼 과일 총 몇개인가?

fruit1 = {"apple":[3500,5], "peer": [2500,2], 
         "cherry": [5000,8], "mango":[2200,4]}
cnt = 0

for i in fruit1:
    if fruit1.get(i)[0] > 3000:
        cnt += fruit1.get(i)[1]
    else:
        cnt = cnt

print('과일 갯수 = ', cnt)

과일 갯수 =  13

In [48]:
# 딕셔너리 활용 방법

fruit1 = {"apple":[3500,5], "peer": [2500,2], 
         "cherry": [5000,8], "mango":[2200,4]}
cnt = 0

for i in fruit1.items():
    if i[1][0] > 3000:
        cnt += i[1][1]
    else:
        cnt = cnt

print('과일 갯수 = ', cnt)

과일 갯수 =  13

In [49]:
# 실습 A반 학생의 국, 영, 수, 과 시험성적
# 1. A반 학생은 총 몇명인가? len 함수 없는 경우
# print(len(class_a.keys()))

class_a = {"A1":[78,60,92,88],
           "A2":[66,88,77,90],
           "A3":[77,93,83,73],
           "A4":[55,99,96,87]}

tot = 0
for i in class_a:
    tot += 1
    
print(tot)

4

In [50]:
# 2. 학생별 총점과 평균

for i in class_a.items():
    tots = 0
    for j in i[1]:
        tots += j
        avg = tots / len(i[1])
    print('{} 총점 {}, 평균 {}'.format(i[0], tots, avg))

A1 총점 318, 평균 79.5
A2 총점 321, 평균 80.25
A3 총점 326, 평균 81.5
A4 총점 337, 평균 84.25

In [51]:
# 2. 다른 답안

for i in class_a:
    tots2 = 0
    for j in class_a.get(i):
        tots2 += j
        avg = tots / len(class_a.get(i))
    print('{} 총점 {}, 평균 {}'.format(i, tots2, avg))

A1 총점 318, 평균 84.25
A2 총점 321, 평균 84.25
A3 총점 326, 평균 84.25
A4 총점 337, 평균 84.25

In [52]:
# 3. 개인별 점수 합계, 평균 저장하기(dict)

tot_dict = {}

for i in class_a.items():
    tots = 0
    for j in i[1]:
        tots += j
        tot_dict[i[0]] = [tots, tots / len(i[1])]

print(tot_dict)

{'A1': [318, 79.5], 'A2': [321, 80.25], 'A3': [326, 81.5], 'A4': [337, 84.25]}

In [53]:
# 4. 개인별 점수 합계, 평균 저장하기(list)

tot_lst = []

for i in class_a.items():
    tots = 0
    for j in i[1]:
        tots += j
    tot_lst.append( [i[0], tots, tots/len(i[1])] )

print(tot_lst)

# 변수를 처음 설정할 때부터 구분되도록 하기

[['A1', 318, 79.5], ['A2', 321, 80.25], ['A3', 326, 81.5], ['A4', 337, 84.25]]

# 리스트 comprehension

In [54]:
# num의 요소의 **2(제곱) 되는 요소 만들기
# 리스트의 요소를 하나씩 꺼내서 연산 후 리스트에 추가
# list comp 1번 형태

num = list(range(1, 8, 2))
num_sq = []

for i in num:
    num_sq.append(i**2)
print(num_sq)

[1, 9, 25, 49]

In [55]:
# 위의 코드를 한문장으로 해결하는 방법
# [반복실행문장 for 반복변수 in 반복범위]

print([i**2 for i in num]) # 리스트 comp의 기본구조

[1, 9, 25, 49]

In [56]:
# list comp 2번 형태

num_sq = []

for i in num:
    if i > 4:
        num_sq.append(i**2)

print(num_sq)

[25, 49]

In [57]:
# [코드 for 변수 in 범위 if 조건문]

[i**2 for i in num if i > 4]

[25, 49]

In [58]:
a = []

for i in range(5):
    if i%2 == 0:
        if i%4 == 0:
            a.append(i)
print(a)

[0, 4]

In [59]:
[ i for i in range(5) if i%2 == 0 if i%4 == 0 ]

# elif, else 까지는 복잡

[0, 4]

# 데이터 입출력

In [60]:
# fruit = open('c:/jhpark/sync/python/jupyter/fruit_dir.txt', 'wt')
# fruit = open('fruit_ndir.txt', 'wt')

# 경로 미지정시 명령파일의 경로로 생성
# wt 쓰기, 텍스트형
# 동일하게 실행하면 덮어쓰기

'''
fruit_price = {'app':3500}

for item in fruit_price.items():
    print(item, file = fruit)
fruit.close()'''

"\nfruit_price = {'app':3500}\n\nfor item in fruit_price.items():\n    print(item, file = fruit)\nfruit.close()"

In [61]:
# method로 쓰는 방법

fruit = open('fruit2.txt', 'wt')
fruit.write('apple 3500\n') # 줄 바꿈
fruit.write('peer 2500')
fruit.write('cherr 5000\n')
fruit.close()

In [62]:
# with문

'''import csv # csv라는 라이브러리를 사용 명령

with open('fruit.csv', 'w', newline='') as fruit_with:
    writer = csv.writer(fruit_with, delimiter=',') # 새로운 함수 지정
    writer.writerow(['111'])
    writer.writerow(['222'])
    writer.writerow(['333'])
    writer.writerow(['444'])
    writer.writerow(['555'])
'''

"import csv # csv라는 라이브러리를 사용 명령\n\nwith open('fruit.csv', 'w', newline='') as fruit_with:\n    writer = csv.writer(fruit_with, delimiter=',') # 새로운 함수 지정\n    writer.writerow(['111'])\n    writer.writerow(['222'])\n    writer.writerow(['333'])\n    writer.writerow(['444'])\n    writer.writerow(['555'])\n"

In [63]:
# 파일 읽기

fruit2 = open('fruit2.txt', 'rt')
fruit2.readlines()

['apple 3500\n', 'peer 2500cherr 5000\n']

In [64]:
fruit2 = open('fruit2.txt', 'rt')
data = fruit2.readlines()
data

['apple 3500\n', 'peer 2500cherr 5000\n']

In [65]:
data[1]

'peer 2500cherr 5000\n'

In [66]:
# csv 파일
import csv

f = open('fruit.csv', 'rt')
csvread = csv.reader(f) # csv.reader() 데이터를 읽어오는 함수

fruit_lst = []

for i in csvread:
    fruit_lst.append(i)

print(fruit_lst)

[['111'], ['222'], ['333'], ['444'], ['555']]