# Pymysql; MariaDB & Python

https://pymysql.readthedocs.io/en/latest/

https://readthedocs.org/projects/trio-mysql/downloads/pdf/stable/

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\toto\anaconda3\lib\site-packages (1.0.2)

# MariaDB & Python 연동

## DB 연결

In [2]:
# db 관리페이지 진입하여 연결
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', 
                     passwd='pass', charset='utf8')

## DB 생성

In [3]:
# 명령문 감지
cursor = db.cursor()

cursor.execute('create database if not exists pydb')
cursor.close()
db.commit() # db에 적용

## TB 생성

In [4]:
db = pymysql.connect(host='localhost', port=3306, user='root',
                     passwd='pass', db='pydb', charset='utf8')
cursor = db.cursor()

sql = """
      create table if not exists test01 (
             seq   int(3),
             name  varchar(50),
             
             primary key (seq) );
      """
cursor.execute(sql)

0

### 실습

1. member tb 생성
   - mem_no   int(3) ; primary key
   - name     varchar(30)
   - age      int(3)
   - height   int(3)

2. 데이터 입력; insert문 sql로 만들어서 한건 씩 실행
   - 1, 홍길동, 35, 170
   - 2, 이순신, 65, 190
   - 3, 유관순, 18, 160
   - 4, 우수한, 55, 155

In [5]:
db = pymysql.connect(host='localhost', port=3306, user='root',
                     passwd='pass', db='pydb', charset='utf8')
cursor = db.cursor()

sql = """
      create table if not exists member (
             mem_no   int(3),
             name     varchar(50),
             age      int(3),
             height   int(3),
             
             primary key (mem_no) );
      """
cursor.execute(sql)

try:
    sql = """
          insert into member
                      values (1, '홍길동', 35, 170);
          """
    cursor.execute(sql)

    sql = """
          insert into member
                      values (2, '이순신', 65, 190);
          """
    cursor.execute(sql)

    sql = """
          insert into member
                      values (3, '유관순', 18, 160);
          """
    cursor.execute(sql)

    sql = """
          insert into member
                      values (4, '우수한', 55, 155);
          """
    cursor.execute(sql)

    sql = """
          insert into member
                      values (5, '우수한', 55, 155);
          """
    cursor.execute(sql)
except:
    pass

db.commit()

## 데이터 조회 select

In [6]:
cursor.execute('select * from member')

5

In [7]:
cursor.fetchone() # pop과 유사

(1, '홍길동', 35, 170)

In [8]:
res = cursor.fetchall() # 남은 데이터 모두 pop
res

((2, '이순신', 65, 190),
 (3, '유관순', 18, 160),
 (4, '우수한', 55, 155),
 (5, '우수한', 55, 155))

In [9]:
for i in res:
    print(i)
    print(i[1])

(2, '이순신', 65, 190)
이순신
(3, '유관순', 18, 160)
유관순
(4, '우수한', 55, 155)
우수한
(5, '우수한', 55, 155)
우수한

In [10]:
res
cursor.fetchmany(3)

()

### 실습
1. mem_no가 4인 레코드의 이름을 강감찬으로 변경하세요.
2. name이 우수한의 나이를 30살로 바꾸기

In [13]:
cursor = db.cursor()
cursor.execute('select * from member')
sql = """
      update member
      set name = '강감찬'
      where mem_no = 4 ;
      """
cursor.execute(sql)

sql = """
      update member
      set age = 30
      where name = '우수한'
      """
cursor.execute(sql)
db.commit()

## API DB 구축
1. API를 활용
2. pydb 내 아래 컬럼의 table 구성 ( natkor ) t_natkor natkor_tbl
   - seq
   - ym     연월
   - natkor 국가
   - num    방문객수
   - ed     구분
3. data insert
   - 3개 국가, 2년 총 72개 데이터
   - api 작업 후 df 구성한 후, df를 직접 읽어 처리
4. sql 사례; insert into visit values (1, 202001, '중국', 1000, '방한외래~')

In [40]:
import pandas as pd

srs = [['0', '201901', '중국', '392814', '방한외래관광객'], ['1', '201902', '중국', '453379', '방한외래관광객'], ['2', '201903', '중국', '487623', '방한외래관광객'], ['3', '201904', '중국', '493250', '방한외래관광객'], ['4', '201905', '중국', '500413', '방한외래관광객'], ['5', '201906', '중국', '475007', '방한외래관광객'], ['6', '201907', '중국', '519132', '방한외래관광객'], ['7', '201908', '중국', '578112', '방한외래관광객'], ['8', '201909', '중국', '541350', '방한외래관광객'], ['9', '201910', '중국', '567695', '방한외래관광객'], ['10', '201911', '중국', '505369', '방한외래관광객'], ['11', '201912', '중국', '508877', '방한외래관광객'], ['12', '202001', '중국', '481681', '방한외래관광객'], ['13', '202002', '중국', '104086', '방한외래관광객'], ['14', '202003', '중국', '16595', '방한외래관광객'], ['15', '202004', '중국', '3935', '방한외래관광객'], ['16', '202005', '중국', '5124', '방한외래관광객'], ['17', '202006', '중국', '5051', '방한외래관광객'], ['18', '202007', '중국', '9738', '방한외래관광객'], ['19', '202008', '중국', '16275', '방한외래관광객'], ['20', '202009', '중국', '15307', '방한외래관광객'], ['21', '202010', '중국', '11477', '방한외래관광객'], ['22', '202011', '중국', '9174', '방한외래관광객'], ['23', '202012', '중국', '7987', '방한외래관광객'], ['24', '201901', '일본', '206526', '방한외래관광객'], ['25', '201902', '일본', '213200', '방한외래관광객'], ['26', '201903', '일본', '375119', '방한외래관광객'], ['27', '201904', '일본', '290092', '방한외래관광객'], ['28', '201905', '일본', '286273', '방한외래관광객'], ['29', '201906', '일본', '282476', '방한외래관광객'], ['30', '201907', '일본', '274830', '방한외래관광객'], ['31', '201908', '일본', '329652', '방한외래관광객'], ['32', '201909', '일본', '251119', '방한외래관광객'], ['33', '201910', '일본', '248541', '방한외래관광객'], ['34', '201911', '일본', '258522', '방한외래관광객'], ['35', '201912', '일본', '255356', '방한외래관광객'], ['36', '202001', '일본', '203969', '방한외래관광객'], ['37', '202002', '일본', '211199', '방한외래관광객'], ['38', '202003', '일본', '8347', '방한외래관광객'], ['39', '202004', '일본', '360', '방한외래관광객'], ['40', '202005', '일본', '413', '방한외래관광객'], ['41', '202006', '일본', '498', '방한외래관광객'], ['42', '202007', '일본', '755', '방한외래관광객'], ['43', '202008', '일본', '1275', '방한외래관광객'], ['44', '202009', '일본', '794', '방한외래관광객'], ['45', '202010', '일본', '927', '방한외래관광객'], ['46', '202011', '일본', '1254', '방한외래관광객'], ['47', '202012', '일본', '951', '방한외래관광객'], ['48', '201901', '미국', '62737', '방한외래관광객'], ['49', '201902', '미국', '57732', '방한외래관광객'], ['50', '201903', '미국', '84275', '방한외래관광객'], ['51', '201904', '미국', '102524', '방한외래관광객'], ['52', '201905', '미국', '95815', '방한외래관광객'], ['53', '201906', '미국', '105398', '방한외래관광객'], ['54', '201907', '미국', '97428', '방한외래관광객'], ['55', '201908', '미국', '86586', '방한외래관광객'], ['56', '201909', '미국', '90819', '방한외래관광객'], ['57', '201910', '미국', '101099', '방한외래관광객'], ['58', '201911', '미국', '82238', '방한외래관광객'], ['59', '201912', '미국', '77387', '방한외래관광객'], ['60', '202001', '미국', '67255', '방한외래관광객'], ['61', '202002', '미국', '42439', '방한외래관광객'], ['62', '202003', '미국', '10570', '방한외래관광객'], ['63', '202004', '미국', '6417', '방한외래관광객'], ['64', '202005', '미국', '8735', '방한외래관광객'], ['65', '202006', '미국', '9717', '방한외래관광객'], ['66', '202007', '미국', '11922', '방한외래관광객'], ['67', '202008', '미국', '13368', '방한외래관광객'], ['68', '202009', '미국', '12426', '방한외래관광객'], ['69', '202010', '미국', '12366', '방한외래관광객'], ['70', '202011', '미국', '13100', '방한외래관광객'], ['71', '202012', '미국', '12102', '방한외래관광객']]

tour_df = pd.DataFrame(srs, columns=[['seq', 'ym', 'natkor', 'num', 'ed']])
tour_df = tour_df.iloc[:, 1:]
tour_df.head()

       ym natkor     num       ed
0  201901     중국  392814  방한외래관광객
1  201902     중국  453379  방한외래관광객
2  201903     중국  487623  방한외래관광객
3  201904     중국  493250  방한외래관광객
4  201905     중국  500413  방한외래관광객

In [18]:
# db 연결
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', 
                     passwd='pass', db='pydb', charset='utf8')
cursor = db.cursor()

In [19]:
# tb 생성
sql = """
      create table if not exists natkor (
             seq    int(3),
             ym     varchar(10),
             natkor varchar(10),
             num    int(10),
             ed     varchar(10),
             
             primary key (seq) );
      """
cursor.execute(sql)

0

In [20]:
# 함수 생성
def insert_natkor(i):
    tour = tour_df.iloc[i, :]
    values = '({}, "{}", "{}", {}, "{}")'.format(i, tour[0], tour[1], tour[2], tour[3])
    sql = """
          insert into natkor
          values """ + values + ';'
    return sql

In [23]:
# 데이터 삽입
for i in range(len(tour_df)):
    sql = insert_natkor(i)
    try:
        cursor.execute(sql)
        db.commit()
        if i % 10 == 0:
            print('data inserting = ', i)
    except:
        if i == len(tour_df) - 1:
            print('already inserted')
print('** data insert completed **')

already inserted
** data insert completed **

## DataFrame to SQL

In [24]:
import pymysql
from sqlalchemy import create_engine

# MariaDB Connector using pymysql
pymysql.install_as_MySQLdb()

import MySQLdb

engine = create_engine('mysql://root:pass@127.0.0.1:3306/pydb', encoding='utf8')
conn = engine.connect()

In [27]:
conn

In [41]:
# 인덱스 수정
tour_df.reset_index(inplace=True)
tour_df.head()

  index      ym natkor     num       ed
0     0  201901     중국  392814  방한외래관광객
1     1  201902     중국  453379  방한외래관광객
2     2  201903     중국  487623  방한외래관광객
3     3  201904     중국  493250  방한외래관광객
4     4  201905     중국  500413  방한외래관광객

In [42]:
# 컬럼명 수정
tour_df.rename(columns={'index':'seq'}, inplace=True)
tour_df.head()

  seq      ym natkor     num       ed
0   0  201901     중국  392814  방한외래관광객
1   1  201902     중국  453379  방한외래관광객
2   2  201903     중국  487623  방한외래관광객
3   3  201904     중국  493250  방한외래관광객
4   4  201905     중국  500413  방한외래관광객

In [43]:
# 중복 방지를 위해 seq 수정
tour_df['seq'] = tour_df['seq'] + 100
tour_df.head()

   seq      ym natkor     num       ed
0  100  201901     중국  392814  방한외래관광객
1  101  201902     중국  453379  방한외래관광객
2  102  201903     중국  487623  방한외래관광객
3  103  201904     중국  493250  방한외래관광객
4  104  201905     중국  500413  방한외래관광객

In [44]:
tour_df.to_sql(name='natkor', con=engine, if_exists='append', index=False)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column '('seq',)' in 'field list'")
[SQL: INSERT INTO natkor (`('seq',)`, `('ym',)`, `('natkor',)`, `('num',)`, `('ed',)`) VALUES (%(A'seq',Z)s, %(A'ym',Z)s, %(A'natkor',Z)s, %(A'num',Z)s, %(A'ed',Z)s)]
[parameters: ({"A'seq',Z": 100, "A'ym',Z": '201901', "A'natkor',Z": '중국', "A'num',Z": '392814', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 101, "A'ym',Z": '201902', "A'natkor',Z": '중국', "A'num',Z": '453379', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 102, "A'ym',Z": '201903', "A'natkor',Z": '중국', "A'num',Z": '487623', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 103, "A'ym',Z": '201904', "A'natkor',Z": '중국', "A'num',Z": '493250', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 104, "A'ym',Z": '201905', "A'natkor',Z": '중국', "A'num',Z": '500413', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 105, "A'ym',Z": '201906', "A'natkor',Z": '중국', "A'num',Z": '475007', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 106, "A'ym',Z": '201907', "A'natkor',Z": '중국', "A'num',Z": '519132', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 107, "A'ym',Z": '201908', "A'natkor',Z": '중국', "A'num',Z": '578112', "A'ed',Z": '방한외래관광객'}  ... displaying 10 of 72 total bound parameter sets ...  {"A'seq',Z": 170, "A'ym',Z": '202011', "A'natkor',Z": '미국', "A'num',Z": '13100', "A'ed',Z": '방한외래관광객'}, {"A'seq',Z": 171, "A'ym',Z": '202012', "A'natkor',Z": '미국', "A'num',Z": '12102', "A'ed',Z": '방한외래관광객'})]
(Background on this error at: http://sqlalche.me/e/14/e3q8)